[2012-10-20 23:55] bmcfee opened #1 "istft"
Fix this.

[2012-10-22 13:10] bmcfee opened #2 "convert agc to use stft"

[2012-10-23 17:27] #1 closed, assigned to bmcfee

[2012-10-23 18:22] #2 closed, assigned to bmcfee

[2012-12-10 18:12] bmcfee opened #3 "Full analyzer output"
Make a nice, echo nest-style wrapper to do a full track analysis: segments, beats, chroma, timbre, etc.

Ideally, the output format should be identical, so the same client code can operate either on EN or librosa analysis.

[2013-03-07 18:10] bmcfee opened #4 "Validate melspectrogram implementation"
Make sure this matches matlab code.

[2013-03-10 01:11] #4 closed, assigned to bmcfee

[2013-05-08 23:40] dawenl opened #5 "stft allows self-constructed window?"
I think Dan's code allows user to either pass in a number as the length of the window or directly pass an array as the window itself, which can be useful sometimes.

[2013-05-22 17:22] #5 closed, assigned to dawenl

[2013-06-06 18:48] dawenl opened #6 "stft/istft window type"
When I tried to do istft on the original stft matrix to see if perfect reconstruction can be achieved, which under certain condition it should, I noticed that the window type is a little problematic: scipy.signal.hann by default will return a symmetric window, but if the window size is even, a [periodic window](https://ccrma.stanford.edu/~jos/sasp/Overlap_Add_Decomposition.html#22206) should be us

[2013-06-10 14:26] #3 closed, assigned to bmcfee

[2013-06-25 14:13] #6 closed, assigned to dawenl

[2013-06-26 13:42] bmcfee opened #7 "plot and display module"
New module `librosa.display` with the following functionality:
- spectro/chromagram display
  - frequency ticks for the yaxis (chroma, mel or linear scale)
  - time ticks for the xaxis (sr \* hop)
  - orientation, interpolation, aspect
- draw segment or beat markers with vlines

[2013-06-26 13:49] bmcfee opened #8 "self-similarity and segmentation"
Include a simple, self-similarity structural segmentation algorithm, such as **Serra, Mueller, Grosche, Arcos, AAAI-2012**.
- [x] lagged feature vectors
- [x] recurrence plot by nearest-neighbor
- [ ] generalize recurrence plot
- [x] vertically shift recurrence plot to get structure features
- [ ] latent structure features by pca
- [ ] temporally segment, either by novelty curve threshold or the e

[2013-06-26 13:49] bmcfee opened #9 "CQT"
Add CQT to `librosa.feature`

[2013-06-26 13:51] bmcfee opened #10 "improve the beat tracker"
Integrate improved beat tracking  to `librosa.beat`.

We'll keep the Ellis07 tracker code for reference, but it will no longer be the default.

[2013-06-26 15:24] bmcfee opened #11 "random utilities"
Utility functions to add in 0.2:
- [x] peak picking `z = x > tau * np.median(x)`
- [x] truncation in load: user can provide offset and max duration to load only a fragment of audio

[2013-06-26 17:28] bmcfee opened #12 "improved chroma features"
Include some other chroma variants, as described in [Mueller and Ewert, 2011](http://ismir2011.ismir.net/papers/PS2-8.pdf):
- [x] Pitch
- [x] Chroma
- [x] CENS
- [ ] CRP
- [ ] LBC [Ni, Y.; McVicar, M.; Santos-Rodriguez, R.; De Bie, T., 2012](http://arxiv.org/pdf/1107.4969)

[2013-06-26 18:50] craffel opened #13 "HPSS->SS"
Instead of HPSS, we should have a general source separation module which includes HPSS.  Other possible source separators: NMF and variants, sines+noise+transients, etc.
- [x] also make phase reconstruction easier.  Current hpss implementation operates entirely on magnitude and doesn't return masks.

[2013-06-27 18:54] dawenl opened #14 "core.resample fails with stereo input"
When loading a 2-channel recording with resample via core.load and mono=False, scipy.signal.resample will break because of this line:

[code]

where `len(y)` is 2.

[2013-06-28 13:54] #14 closed, assigned to dawenl

[2013-07-08 23:07] bmcfee opened #16 "librosa.feature.* accept time-series or spectrogram"
Some librosa.feature methods expect a time series, others expect a spectrogram.  We should abstract and standardize this as was done in librosa.beat.beat_track so that any method can accept either type of input.

[2013-07-23 08:08] dawenl opened #17 "stft shape check"
In `core.py`, stft checks the shape of user-specified window to make sure it's the same as `n_fft`:

[code]

However, `window.shape` is apparently a tuple while `n_fft` is a number, so this will always return False even if the user-specified window is correct. `window.size` should do the job.

This is a simple fix, but since I still haven't fully figured out how the different branches interact wit

[2013-07-23 13:32] #17 closed, assigned to nobody

[2013-07-31 15:17] craffel opened #18 "Make filterbanks generic"
As of now the mel fb is triangular, chroma fb is Gaussian.  But, sometimes people use triangular fbs for computing chroma, and so on.  I propose that instead of melfb and chromafb we have triangularfb and gaussianfb (or something) which take as an argument the center frequencies of each filter, so that we could create a triangular-binned chroma fb, for example.  We could also create rectangularfb,

[2013-07-31 15:28] bmcfee opened #19 "Onset module"
- Create a generic onset detection module
- Move the onset strength function out of librosa.beat
- Implement peak-picking algorithms.  Possibly in core?  I could see this being useful for multiple applications (segmentation, onset detection, etc...)

[2013-07-31 22:16] craffel opened #20 "Evaluation metrics"
Does this fall within librosa's intent?  Putting a module librosa.evaluation which includes computation of the various standard metrics, for beat detection, onset detection, chord recognition, source separation (BSS-EVAL and others) etc.

[2013-07-31 23:13] craffel opened #21 "MIDI module"
Does it make sense to have a MIDI module?  I have a lot of utilities (using https://github.com/vishnubob/python-midi ) for getting piano roll, chroma, beat times, onset times, etc. from MIDI files.  It would be cool to collect all in one place, but would create a new dependency unless we rewrite the python-midi module.  Also would not be able to synthesize without another dependency (fluidsynth or

[2013-08-01 15:25] #21 closed, assigned to nobody

[2013-08-06 21:21] #20 closed, assigned to nobody

[2013-08-07 14:18] bmcfee opened #22 "metadata extraction"
Add a core routine to extract metadata in a consistent format.  This will most likely be a wrapper to mutagen with some hacks in place to standardize the tag keywords across different formats (mp3/id3, m4a, flac, etc.)

[2013-08-07 14:42] #22 closed, assigned to bmcfee

[2013-09-19 21:54] srubin opened #23 "List librosa on PyPI"
I'm working on a library that has librosa as a dependency. If it's not too much a problem, could you add librosa to PyPI so it can easily be installed from other packages (and with pip)?

(For a temporary workaround, add `dependency_links=['https://github.com/bmcfee/librosa/tarball/master#egg=librosa-0.1']` to a project's setup.py)

[2013-10-14 19:24] bmcfee opened #24 "divide-by-zero in beat tracker"
Beat tracker can cause a divide-by-zero if the onset function is all-zeros. This causes `candidates[best_period]` to be zero at line 279.

[2013-10-14 19:37] #24 closed, assigned to bmcfee

[2013-11-13 15:43] #13 closed, assigned to nobody

[2013-11-13 18:17] #11 closed, assigned to bmcfee

[2013-11-13 21:07] #7 closed, assigned to bmcfee

[2013-11-13 21:30] #8 closed, assigned to bmcfee

[2013-11-14 17:42] #16 closed, assigned to bmcfee

[2013-11-15 14:40] bmcfee opened #26 "unit tests for ifgram, ifptrack"
validate against dpwe's code

[2013-11-23 07:06] #26 closed, assigned to bmcfee

[2013-11-23 21:10] #9 closed, assigned to craffel

[2013-11-24 15:58] #10 closed, assigned to bmcfee

[2013-12-02 18:52] bmcfee opened #27 "Docstring review"
Review all function and module docstrings for consistency of terminology and formatting.

[2013-12-06 21:11] #19 closed, assigned to craffel

[2013-12-08 21:26] bmcfee opened #28 "Examples"
We should really expand the set of example scripts that ships with librosa.

Right now, we have beat tracking, HPSS beat tracking, and I just added one more that shows how to generate waveforms from HPSS.  Here are a few ideas for new ones to add
- [x] Tuning estimation @bmcfee
- [ ] NMF decomposition @dawenl
- [x] Spectrogram display (pyplot) @bmcfee
- [ ] Onset detection @craffel
- [x] Phase voc

[2013-12-09 15:48] bmcfee opened #29 "error in display.specshow"
y_axis='cqt_hz' or 'cqt_note' ends up throwing an error about np.log2.

Fix this.

[2013-12-09 17:02] bmcfee opened #30 "HPA directory?"
Can we clean out the HPA top-level directory?  I think all the functionality, except for chord modeling, has been absorbed into librosa proper now.

Keeping both source trees in the repository could get confusing to new users.

[2013-12-09 18:30] #29 closed, assigned to bmcfee

[2013-12-09 18:35] bmcfee opened #31 "Redo examples with proper argument parsing, documentation"
Title says it all

[2013-12-10 20:34] #31 closed, assigned to bmcfee

[2013-12-11 04:15] #30 closed, assigned to mattmcvicar

[2013-12-12 00:05] bmcfee opened #32 "fix mel scaling in specshow"
Refactoring of `mel_frequencies` messed up specshow.  Fix me please.

[2013-12-12 14:39] #32 closed, assigned to bmcfee

[2013-12-12 18:56] bmcfee opened #33 "refactor (i)stft windowing to be more pythonic"
The STFT windowing options are a bit convoluted (pun intended) right now.  This mostly inherits from the original matlab implementation, and straight port that we did for 0.1.

For 0.2, I'd like to make the following changes:
- [x] Add support for generic windowing functions as a callback.
- [x] Remove the special case that win_length=0 gives a flat window.

The simplified behavior should be:
- `w

[2013-12-12 19:31] #33 closed, assigned to bmcfee

[2013-12-12 23:32] #27 closed, assigned to bmcfee

[2013-12-14 03:24] #28 closed, assigned to nobody

[2013-12-14 22:19] #23 closed, assigned to bmcfee

[2013-12-17 18:12] bmcfee opened #36 "gray_r cmap for boolean data"

[2013-12-18 18:34] #36 closed, assigned to bmcfee

[2013-12-18 18:45] bmcfee opened #37 "ifgram chroma"
Port ifchroma to librosa

[2013-12-18 19:59] bmcfee opened #38 "Optimize default parameters"
Several functions have sub-optimal default parameter settings, often for compatibility against prior implementations.

Here's a (not complete) list of functions which can be improved.
- [x] `librosa.filters.constant_q`: resolution should probably be 2, not 1
- [x] `librosa.filters.chroma`: octwidth -> 2
- [x] `librosa.decompose.hpss`: power -> 2.0
- [x] `librosa.onset.onset_detect`: ???

[2013-12-18 20:01] bmcfee opened #39 "CUDA backend"
`scikits.cuda` implements accelerated versions of many operations we use (fft comes to mind).

Probably the best way to handle this is to implement our own wrapper functions which transparently sit on top of scikits.cuda.* or scipy.*, similar to how we currently handle `librosa.core.resample()`.

[2013-12-22 23:58] bmcfee opened #40 "utility functions"
- [x] `column_sort`, permute the columns of a matrix according to the argmax() (optionally, argmin) over row values. Useful for codebook visualization.
- [x] `column_norm`, normalize the columns (or rows) of a matrix according to the specified norm. (Factor out of chromagram.)
- [x] `get_audio_files` get a list of audio files on disk in a current directory. Recursion should be optional. Multiple f

[2013-12-24 20:28] bmcfee opened #41 "Dynamic time warping"
We should have a generic DTW implementation, possibly under a module for general time series analysis.

Required features:

- Support multi-dimensional time series
- Arbitrary distance function between samples. Maybe only support `scipy.spatial.distance` format?
- Constrained/windowed alignment

[2013-12-29 21:21] bmcfee opened #43 "Int<->Float for wav io"
Integer<->floating point conversion is currently embedded into the `core.load()` and `output.write_wav` functions.

These should be factored out into a pair of functions under `util`.

Reason: it can be useful to generate valid wav data without going to disk, eg, for realtime playback or serving dynamic audio over an html5 audio stream.

[2013-12-29 22:48] bmcfee opened #44 "variable tempo beat tracking"
Beat tracking DP currently takes in a global tempo estimate.

This could easily be modified to take an array `tempo` the same shape as the onset function, where `tempo[t]` is the tempo at time `t`.

This would also need a dynamic tempo estimator.

[2013-12-30 17:43] bmcfee opened #45 "Output function for annotations"
Should support both time marker and segment-style output, eg:

[code]

or

[code]

[2013-12-31 20:21] bmcfee opened #46 "Sklearn transformer layer for feature extractors"
All of librosa's feature extraction routines are stateless (excepting default parameter settings).  This makes the library implementation simple and easy to understand, but high-level applications may become complex and unwieldy when forced to specify parameters for every function.

One way around this is to provide a thin object wrapper which maintains parameter state.  (At present, this can be s

[2014-01-13 21:12] craffel opened #50 "hpss returns nans on my system"
a, fs = librosa.load('data/beatles/01-I_Saw_Her_Standing_There.mp3', sr=22050)
S = librosa.stft( a, hop_length=64 )
H, _ = librosa.decompose.hpss( np.abs( spectrogram ), kernel_size=13, power=4 )
print np.flatnonzero(np.isnan(H)).shape

... outputs (44,); there are 44 nans in the resulting harmonic spectrogram.  Not sure if this is an issue with my freshly installed system or what.

[2014-01-13 22:25] #50 closed, assigned to craffel

[2014-01-14 19:55] craffel opened #51 "librosa.output.write_wav flips samples on my system"
See the following for a simple example - synthesizing 30 samples of a sine wave, writing out, reading back in - results in large samples being flipped across the x axis.  This is a problem with write_wav, not load I believe.  As before, this may be an issue with my new install as opposed to librosa.

[code]

![image](https://f.cloud.github.com/assets/417568/1914301/e1d33954-7d55-11e3-9e79-655803b8

[2014-01-14 22:10] #51 closed, assigned to craffel

[2014-01-15 19:04] bmcfee opened #52 "vectorize stft and friends"
Rather than for-looping for stft, we should be able to do some array indexing tricks and vectorize the operation.
- [x] stft
- [x] ifgram
- [ ] istft

[2014-01-15 19:09] bmcfee opened #53 "Force integer type for all indices"
E.g.,

[code]

[2014-01-15 19:26] bmcfee opened #54 "Future-proofed indexing"
There's nothing wrong with this code exactly, but we get the following warnings in numpy 1.8:

[code]

Probably the fix here is to zip(starts, ends) and pull out the values as scalars.  Lint score goes up, warnings go down. Sigh.

[2014-01-15 20:37] bmcfee opened #55 "audit all arrays for contiguity"
- data matrices should have `order='F'` (column-major).
  - [x] `librosa.core.stft`
  - [x] `librosa.core.ifgram`
  - [x] `librosa.core.cqt`
  - [x] `librosa.feature.delta`
  - [x] `librosa.feature.sync`
  - [x] `librosa.core.phase_vocoder`
  - [x] `librosa.segment.stack_memory`
  - [x] `librosa.segment.structure_feature`
  - [x] `librosa.magphase`
- filter matrices should have `order='C'` (row-ma

[2014-01-16 02:10] #52 closed, assigned to bmcfee

[2014-01-16 18:12] #54 closed, assigned to bmcfee

[2014-01-16 18:12] #53 closed, assigned to bmcfee

[2014-01-16 18:13] #40 closed, assigned to bmcfee

[2014-01-16 18:21] bmcfee opened #56 "remove mutables from default args"
Some functions have mutable objects as default kwargs (eg, `window=np.hamming`, or `fmin=(100, 300)`).  This is bad style.  Better is to use `None` and mark defaults in the docstring.

[2014-01-16 19:14] #45 closed, assigned to bmcfee

[2014-01-16 19:30] #56 closed, assigned to bmcfee

[2014-01-18 14:44] bmcfee opened #57 "tuning estimation ifptrack -> piptrack"
Tuning estimation happens in the following places:
- `librosa.core.cqt`
- `librosa.feature.logfsgram`
- `librosa.feature.chromagram`

Replacing ifptrack with piptrack will streamline the `feature.*` functions since piptrack works directly on spectrogram input.  (It also seems to work better.)

[2014-01-18 15:09] bmcfee opened #58 "convolve wrapper"
Wrapper function to convolve two signals.  Depending on length, it may be more efficient to use `scipy.signal.convolve` or `scipy.signal.fftconvolve`.

This function can also contain the logic to wrap cuda fft as mentioned in #39 .

[2014-01-18 19:22] bmcfee opened #59 "mathjax docstrings"
Sometimes, only an equation will do.

[2014-01-18 19:31] bmcfee opened #60 "librosa.util.frame hemorrhages memory"
The trouble here is that the call to `reshape` on `y` initially over-allocates the amount of memory it will need.  The over-allocation is substantial, and probably unnecessary.  On long tracks, it can cause segfaults when the process exceeds memory limitations.

[2014-01-18 20:44] #60 closed, assigned to bmcfee

[2014-01-21 16:34] #38 closed, assigned to bmcfee

[2014-01-21 18:24] bmcfee opened #61 "framing correction in onsets, beats"
Currently, all framing corrections are handled in the beat tracker.

Now that we have onset detection also, this should really migrate out into more reusable sections.
- [x] onset_strength should have an off-by-one correction for np.diff (`+1`)
- [x] frames_to_time should correct for the offset introduced by STFT windowing (`+n_fft / 2 samples`)
- [x] time_to_frames should include the reverse corr

[2014-01-21 18:31] #61 closed, assigned to bmcfee

[2014-01-23 18:55] bmcfee opened #63 "memory-limit stft"
The vectorized stft is faster than the iterative approach, but at the expense of memory.  This is due to the pre-allocation of the intermediate windowed signal (though framing is still in place).  For very long signals, or high-resolution STFTs, this can cause a substantial memory bloat.

A better approach is to do compute the STFT in vectorized blocks, up to some configurable threshold (say, 1GB

[2014-01-23 18:56] bmcfee opened #64 "collect and structure default arguments"
Some default parameters occur in several places throughout the library, for instance, `n_fft` or `hop_length`.

Maybe these should be collected into one structure in the core library.

[2014-01-23 23:29] #63 closed, assigned to bmcfee

[2014-01-26 20:45] bmcfee opened #66 "Faster CQT"
Implement the method of [Schorkhuber & Klapuri 2010](http://smcnetwork.org/files/proceedings/2010/48.pdf):
1. Compute one octave
2. LPF and downsample
3. Repeat...

---
- [ ] Provide numerical compatibility tests against CQT toolbox

[2014-01-26 21:12] bmcfee opened #67 "scikits.samplerate dependency"
The `scikits.samplerate` dependency in librosa is a soft dependency, meaning that it will fall back gracefully (and slowly) on `scipy.signal`'s resampler.

The reason for the soft dependency is that the pypi package does not automatically install `libsamplerate` from source, so the entire install chain for `librosa` fails.

[2014-01-26 21:13] bmcfee opened #68 "add unit test files to git repo"
Right now, unit test files need to be generated from the corresponding matlab scripts.  This streamlines the git repository, but makes automated testing difficult.

[2014-01-27 21:18] bmcfee opened #69 "New submodule: effects"
A place to put functions that work with audio signals directly.  This may include thin wrappers on top of other functions.

Examples:
- [ ] time series wrapper for phase vocoder functions.  Time stretch and pitch shift.
- [ ] `harmonic`: `ISTFT(HPSS(STFT(y))[0])`
- [ ] `percussive`: see above

[2014-01-28 17:13] bmcfee opened #70 "audio output compression"
`librosa.output.write_wav` can dump wav output, but it would be nice to have a way to automatically run it through `ffmpeg` or `avconv` so we don't have intermediate wav files cluttering up the works.

[2014-01-31 19:29] bmcfee opened #71 "stft centering by default"
Currently, `librosa.core.stft` (and like-minded functions, `istft`, `ifgram`, etc, but _not_ `cqt`) use a left-aligned framing of the signal, i.e., the `t`th frame corresponds to a window spanning the interval `[t * hop_length, t * hop_length + n_fft`.

As a result, converting between time and frames can be tricky, and susceptible to a variety of delay errors.  This manifests itself in functions l

[2014-01-31 21:32] #71 closed, assigned to bmcfee

[2014-01-31 21:48] #66 closed, assigned to bmcfee

[2014-02-03 22:16] dawenl opened #73 "Time format in librosa.display.time_ticks()"
The time display for "hours:minutes:seconds" format is not correct, since it didn't subtract the hours when calculating the minutes:

[code]

So if the length of the data you want to visualize is larger than one hour, the minute part will be incorrect (off by `hours * 60`).

[2014-02-03 22:18] #73 closed, assigned to nobody

[2014-02-07 20:42] bmcfee opened #75 "estimate_tuning with f=0 pitches"
The tuning estimator does not currently enforce that all frequencies are strictly positive.  This results in `log(0)` errors, and can bias the tuning estimator results.

[2014-02-07 20:42] #75 closed, assigned to bmcfee

[2014-02-08 12:54] #57 closed, assigned to bmcfee

[2014-02-08 19:08] #68 closed, assigned to bmcfee

[2014-02-20 17:53] bmcfee opened #78 "chord module cleanup"
General issue to cover the following sub-tasks for @mattmcvicar's original chord module:
- [x] simplify code wherever possible
- [x] provide an sklearn class for chord HMM
- [x] remove dependencies on file i/o

[2014-02-24 18:35] #78 closed, assigned to bmcfee

[2014-02-24 18:36] bmcfee opened #79 "audit docstrings for consistency"
Certain function signatures changed from 0.2 to 0.3 (eg: cqt).

Docstring examples need to be brought up to date for consistency.
- [x] beat
- [x] chord
- [x] core
- [x] decompose
- [x] display
- [x] effects
- [x] feature
- [x] filters
- [x] onset
- [x] output
- [x] segment
- [x] util

[2014-02-25 18:24] #46 closed, assigned to bmcfee

[2014-03-29 20:29] craffel opened #80 "Use decorators to cache function output"
See this example:
https://wiki.python.org/moin/PythonDecoratorLibrary#Memoize
np.ndarrays are not hashable, but there may be a way to get a suitable hash from the ndarray object directly.

[2014-04-24 02:17] bmcfee opened #81 "Clipping error in write_wav"
`write_wav` still has some issues with scaling, and sometimes outputs sign-flipped bits.

[2014-05-12 19:25] bmcfee opened #84 "Fix the time resolution in CQT"
The new CQT implementation (v0.3) uses recursive downsampling of the input signal to compute filter response at different octaves.  Starting at the highest octave, response is computed, and the sample rate and hop length are divided by 2.

This causes a problem at the high end: the hop length must be sufficiently large to ensure that the bottom octave has a positive hop.  Depending on the filter p

[2014-05-20 07:20] dawenl opened #85 "stft stride trick seem not working on an early-2013 Macbook Pro with Mavericks"
I just got my new laptop from Adobe today and as usual I installed all the standard Python stuff. Then when I tried to run [some early demo code](http://nbviewer.ipython.org/github/dawenl/bp_nmf/blob/master/code/exp_demo.ipynb), the spectrogram I got is [wrong](http://nbviewer.ipython.org/urls/gist.githubusercontent.com/dawenl/5c698c4c62fe5eb1b927/raw/1e8f3f0feb091c6dc87d39b9f44569d8a9f4c912/wrong

[2014-05-21 15:55] bmcfee opened #86 "python 3 compatibility"
Future-proof the existing code base.

[2014-05-21 22:35] #85 closed, assigned to nobody

[2014-05-21 22:37] bmcfee opened #87 "frame should throw a warning if input is non-contiguous"

[2014-05-22 20:08] #69 closed, assigned to bmcfee

[2014-05-22 20:08] #87 closed, assigned to bmcfee

[2014-05-22 20:20] bmcfee opened #88 "Update demo notebook(s)"
Or possibly add multiple notebook demos.

To-do list:
- [x] Rewrite without `%pylab` magic/make ipy2.0-friendly
- [x] Demonstrate new functionality
  - [x] Feature extraction (direct)
  - [x] Effects / audio display widget
  - [x] `sklearn` integration via `librosa.util.FeatureExtractor`
  - [x] Onset detection @craffel

[2014-05-22 20:25] bmcfee opened #89 "Update example scripts"
Many of the example scripts can be simplified by calling out to the new `effects` module.

[2014-05-22 20:39] #89 closed, assigned to bmcfee

[2014-05-23 17:52] wmaiouiru opened #90 "ImportError: cannot import name core"
Hello I upgraded librosa on Mac using the folllowing command:
 sudo ARCHFLAGS=-Wno-error=unused-command-line-argument-hard-error-in-future pip install --upgrade librosa

However, when I am trying to import librosa, I am getting the following error.
Any idea how to fix it?
import librosa

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Library/Python/2.7/site-packa

[2014-05-29 15:58] bmcfee opened #91 "filters.logfrequency, filters.constant_q fmax -> n_bins"
The signature for `librosa.filters.logfrequency` should more closely match that of `librosa.core.cqt`.

In general, the pair `(f_min, n_bins)` should be preferred over `(f_min, f_max)`.

[2014-06-02 21:19] #91 closed, assigned to bmcfee

[2014-06-04 17:23] BWalburn opened #92 "STFT variation between master and develop branches"
I'm attempting to test some newly created features according to the testLibrosaFeature.py and makeTestData.m scripts.

Running the below code in MATLAB results in a 257x789  S matrix:

[code]

Running the following code using librosa-master also results in a 257x789 spectrum array:
#

y,fs = librosa.load('test1_44100',sr=44100)
spectrum = librosa.stft(y,n_fft=512,hop_length=256,win_length=512,wind

[2014-06-04 17:30] #92 closed, assigned to nobody

[2014-06-19 16:25] bmcfee opened #93 "Style audit (PEP8 compliance)"
Lint check, pep8
- [x] beat
- [x] chord
- [x] core
- [x] decompose
- [x] display
- [x] effects
- [x] feature
- [x] filters
- [x] onset
- [x] output
- [x] segment
- [x] util

[2014-06-19 16:29] bmcfee opened #94 "Add text to sphinxdoc"
The current (automatically generated) documentation is simply a reference for functions, but is not instructive as to how to use the library.

In addition to the demo notebooks, we should have a quickstart section of the documentation, covering the following:
- [x] Installation, dependencies @craffel
- [x] Introduction/overview/package layout
- [x] Writing a first program (walk-through of one or m

[2014-06-25 20:10] bmcfee opened #95 "Citation format"
Bibtex references aren't so useful in docstrings.  Convert to a standard format (MLA).

[2014-06-25 20:14] #93 closed, assigned to bmcfee

[2014-06-25 20:42] #95 closed, assigned to bmcfee

[2014-06-25 20:42] #79 closed, assigned to bmcfee

[2014-06-25 20:57] bmcfee opened #96 "Package data"
Revise the package tools script to include example audio and demo scripts.

Add a utility function to directly access example audio.

[2014-06-26 00:26] #96 closed, assigned to bmcfee

[2014-06-26 19:23] #94 closed, assigned to bmcfee

[2014-06-26 20:23] #88 closed, assigned to bmcfee

[2014-06-26 21:27] bmcfee opened #97 "display.specshow fmin/max -> fmin,bins_per_octave"

[2014-06-27 14:31] #97 closed, assigned to bmcfee

[2014-06-27 18:48] #84 closed, assigned to nobody

[2014-06-27 19:09] #55 closed, assigned to bmcfee

[2014-06-30 14:50] #81 closed, assigned to bmcfee

[2014-06-30 19:44] bmcfee opened #101 "support streaming data in load()"
Currently, `librosa.load()` only supports reading from files on disk.  This is primarily due to the limitations of `audioread`.

This can be circumvented by running the stream through a temporary named pipe.

[2014-07-15 13:53] bmcfee opened #102 "segmentation Ward -> Agglomerative"
Ward is deprecated as of sklearn 0.15.0.  We should update to Agglomerative.

[2014-08-07 07:42] vspruyt opened #103 "Add check in estimate_tuning"
Great library, tnx for your efforts!

In librosa.feature.estimate_tuning, the median magnitude is calculated for bins where the frequency is larger than zero: threshold = np.median(mag[pitch_mask])

In some cases, no such bins exist, which results in the method returning NaN.
Naive workaround:
if(np.count_nonzero(pitch_mask)>0):
       threshold = np.median(mag[pitch_mask])
else:
       threshold=

[2014-08-20 14:10] bmcfee opened #104 "hpss failure on silent signals, complex input"
`librosa.decompose.hpss` allows complex-valued spectrogram inputs, which it detects by calling `np.iscomplex(S).any()`.  This can fail if the spectrogram is all (complex-typed) zeroes, in which case `iscomplex()` returns false.  This error propagates to the median filter, and eventually causes the exception:

[code]

[2014-08-20 14:12] #104 closed, assigned to bmcfee

[2014-08-20 15:09] #103 closed, assigned to bmcfee

[2014-08-22 05:37] andreasjansson opened #105 "Dumb binary breaks pip install"
Librosa is cool! I'm trying to pip install it on an Amazon Linux (EMR) machine, and get [this error](https://gist.github.com/andreasjansson/e8c7539d8635b6e11e3d). For some reason it downloads the dumb binary rather than the source distribution.

Some other projects on Github seem to have resolved this issue simply by ditching the dumb binary altogether.

[2014-08-23 17:12] bmcfee opened #106 "Add exceptions and unit tests for ill-formed inputs"
Exceptions:

- [x] Short signals
  - What happens when input buffers are shorter than the given analysis window?
- [x] Silent signals (all-zeros)
  - Are there any methods likely to blow up on slience?
  - This should be handled by numerically stable normalization, not exceptions
- [x] non-finite inputs (NaN or infinity)
- [x] mis-shapen inputs
  - stereo in place of mono
  - or general shape mism

[2014-08-28 15:42] #102 closed, assigned to bmcfee

[2014-09-03 03:48] dpwe opened #107 "Doesn't read au files correctly (on Linux)"
Reading in au files (Sun/NeXT format, as in the GTZAN clips in ~drspeech/data/gtzan/genres/) results in garbage.  Using sndcat to convert to wav, then reading in works fine.  I assume this is a byteswap error in the underlying library.

[code]

It's not just scaling, look at the frequent sign changes in dau.  dwav is the one that sounds right.  The rapid large-amplitude discontinuities in dau are

[2014-09-08 16:46] bmcfee opened #108 "character encoding"
Set the character encoding for all source files.

http://legacy.python.org/dev/peps/pep-0263/

[2014-09-08 16:50] #108 closed, assigned to bmcfee

[2014-09-09 13:53] bmcfee opened #109 "persist dtype whenever possible/sensible"
As an example, for `y.dtype == np.float32`, the result of `librosa.effects.harmonic(y)` has dtype `np.float64`.

In general, derived data should inherit the data type/precision from input, whenever it makes sense to do so.

[2014-09-22 12:36] ejhumphrey opened #110 "Silent (but deadly) audio signal shape issues"
Context: My audio signals are shaped (num_samples, num_channels). When I passed this off to `librosa.onset.onset_strength`, it merrily made an attempt to process it; however, it ended up just gobbling up geebies of memory until everything stalled.

Now, I've discovered that I was trying to use librosa incorrectly, but more feedback / shape checking would prevent operator error in the future.

A fe

[2014-10-03 18:28] shashankaswath opened #111 "Clicks in audio with wav writer"
I am generating a sinusoidal signal and trying to write that as a wav file using librosa.output.write_wav. This is giving me clicks in the audio. I opened the file in a DAW and zoomed into the sections with the clicks. It seems as though multiplication is happening with 32768 instead of 32767, which is flipping the sample at the top.

[2014-10-04 14:44] dpwe opened #112 "Download package size is large (190MB)"
The librosa package zip file (https://github.com/bmcfee/librosa/archive/master.zip) is 190 MB to download.  This is big enough to be an issue for potential users not on an academic backbone.  Most of the data size comes from the tests/data (158 MB) and examples/LibROSA audio effects and playback.ipynb (35 MB).

Perhaps we should separate these, or somehow provide a smaller package to download?

[2014-10-08 14:01] bmcfee opened #113 "License? Request for comments"
Should we switch the license to something more permissive than GPL? If so, to what?

All comments and suggestions are welcome.

[2014-10-21 18:13] bmcfee opened #114 "sub-beat segmentation"
Beat- and onset-synchronous features are nice, but sometimes you want more refined features that are still consistent with beat events.

With a little glue, we can do this, and get something similar to echo nest's "segment"-synchronous features:

1. Compute beat frames
2. For each beat interval
    * break into k parts using `librosa.segment.agglomerative`
    * stack up the sub-beat boundaries
3.

[2014-10-22 17:00] #111 closed, assigned to nobody

[2014-10-22 17:00] #107 closed, assigned to nobody

[2014-10-22 20:40] dpwe opened #115 "load(..., duration=...) loads one sample too few"

[2014-10-23 22:16] bmcfee opened #116 "Refactor load, generate frames"
See the discussion thread in #115 .

[2014-10-23 22:24] #115 closed, assigned to nobody

[2014-10-30 08:31] bmcfee opened #117 "segment.agglomerative should return an np array instead of a list"
For consistency with beat tracker.

[2014-11-03 14:47] bmcfee opened #118 "librosa.core.duration()"
Add a function to compute duration of a time series y or spectrogram S.

[2014-11-03 15:51] #118 closed, assigned to bmcfee

[2014-11-03 15:54] bmcfee opened #119 "Parameter optimization for tempo, beats, onset"
We should systematically optimize the default parameters for tempo estimation and beat tracking, as was previously done for onset detection.

Since the beat tracker uses tempo estimation as a subroutine, I propose that we first optimize tempo, and then fix the parameters for beat tracking.

[2014-11-05 17:22] #117 closed, assigned to bmcfee

[2014-11-05 19:04] bmcfee opened #120 "Refactor chord model to depend on seqlearn instead of sklearn"
SKlearn's HMM implementation is deprecated, and disappearing soon.  Much of that code has been moved out to the https://github.com/larsmans/seqlearn module, which we should add as a dependency.

[2014-11-05 19:09] bmcfee opened #121 "librosa.util.pad_center() should accept multi-dimensional input and axis parameter"
Title says it all.  Sometimes you want to center-pad a matrix.

[2014-11-05 20:36] #110 closed, assigned to bmcfee

[2014-11-05 20:56] #109 closed, assigned to bmcfee

[2014-11-06 15:47] #121 closed, assigned to bmcfee

[2014-11-06 16:36] bmcfee opened #122 "Multitrack support"
The current loader has an option to convert stereo to mono, assuming interleaving of two channels.  This could be generalized to support general mixing of multi-tracks by using the `frame` function.

[2014-11-06 23:01] #43 closed, assigned to bmcfee

[2014-11-07 00:23] #105 closed, assigned to bmcfee

[2014-11-16 11:57] lpryszcz opened #125 "Loading stereo .mp3 with mono=False fails"
<pre><code>

/usr/lib/python2.7/dist-packages/IPython/lib/display.pyc in _make_wav(self, data, rate)
    109             data = np.array(data,dtype=float)
    110             if len(data.shape) > 1:
--> 111                 raise ValueError("encoding of stereo PCM signals are unsupported")
    112             scaled = np.int16(data/np.max(np.abs(data))*32767).tolist()
    113         except ImportE

[2014-11-16 16:33] bmcfee opened #126 "Multi-channel resample"
Add a wrapper layer to `librosa.core.resample` so that when called on a multi-channel input `y.ndim == 2`, it does the right thing.

This is related to issue #125 where combining resampling with `mono=False` on load causes an error.

[2014-11-16 16:33] #113 closed, assigned to nobody

[2014-11-22 19:13] dpwe opened #128 "Cropping and resampling leads to inconsistent results"
I would like to be able to read and concatenate subranges with librosa.load, and have them be exactly what you'd get with a seemingly-equivalent single load, e.g.

I was thinking "0" would be better.

.. but this has more serious challenges than the last sample, it also depends on the adjusting the starting sample due to offset to be consistent.

  DAn.

[2014-11-22 19:34] dpwe opened #129 "Reading zero-length soundfiles fails"
[code]

[2014-11-22 19:48] #129 closed, assigned to nobody

[2014-12-01 23:05] mattmcvicar opened #130 "Which DCT is being used in librosa.filters.dct()?"
There are a few different flavours of DCT transform: (http://en.wikipedia.org/wiki/Discrete_cosine_transform)

Which one is being used in librosa.filters.dct()? It looks like DCT-II, but it looks like the pre-computation step before the loop:

samples = np.arange(1, 2*n_input, 2) \* np.pi / (2.0 \* n_input)

is off by a constant of 0.5, and should instead be:

samples = (np.arange(1, 2*n_input, 2)

[2014-12-03 10:22] Cortexelus opened #131 "output.wave_write fails to write stereo"
## Problem

Cannot write stereo wave files.
## Reason

librosa.load returns array with shape (2, 685220)
whereas scipy.io.wave.file.write wants array shape (685220, 2)
## Steps to reproduce bug

Run this

[code]

Get this

[code]

but transpose y and it works:

[code]
## Conclusion

Brian you madman, you just have to do everything backwards don't you. <3

[2014-12-03 14:35] #131 closed, assigned to nobody

[2014-12-03 15:14] #130 closed, assigned to nobody

[2014-12-06 00:08] #101 closed, assigned to bmcfee

[2014-12-08 20:17] #80 closed, assigned to bmcfee

[2014-12-08 20:22] #64 closed, assigned to bmcfee

[2014-12-08 20:59] #126 closed, assigned to bmcfee

[2014-12-08 21:01] #125 closed, assigned to bmcfee

[2014-12-08 21:02] #122 closed, assigned to bmcfee

[2014-12-08 21:02] #112 closed, assigned to nobody

[2014-12-13 19:17] #67 closed, assigned to bmcfee

[2014-12-17 15:12] bmcfee opened #133 "~~~builtins fail~~~ python 2/3 compatibility"
[code]

[2014-12-17 18:15] #133 closed, assigned to bmcfee

[2014-12-30 20:58] bmcfee opened #136 "make all usage examples fully functional"
All usage examples should be fully functional, self-contained programs.

In the simplest case, these should start with

[code]

and then proceed.

Whenever reasonable, example programs should also display (truncated) output so that the user knows what to expect.

[2014-12-31 17:22] bmcfee opened #137 "ifgram returns negative frequencies"
Title says it all:
[code]

The negatives are huge, as well:
[code]

Note that `librosa.ifgram` passes regression tests against @dpwe's matlab implementation, so this is probably an algorithmic issue rather than translation.

[2014-12-31 17:24] bmcfee opened #138 "decompose tests occasionally fail"
The unit test for `librosa.decompose` can occasionally fail, due to the randomness in the default NMF method.

This can be circumvented by seeding the random number generator within the unit test.

[2015-01-02 11:59] rikrd opened #140 "Allow loading from file-like object instead of filename"
I have a lot of audio files in a large zip file.  I'm using Python's zipfile module to open the zip file and would like to be able to load the audio from a ZipExtFile object that ZipFile.open returns.

The current suboptimal workaround is to write the desired ZipExtFile into a temporary file, load the new file using librosa and remove the temporary file.

[2015-01-02 15:21] bmcfee commented on #140
Good call.  I was planning to do this in this load refactor #116 , but it's not explicitly itemized anywhere.

[2015-01-02 18:19] #136 closed

[2015-01-02 18:29] bmcfee commented on #140
Note: the trouble with the current implementation is that audioread only supports filename inputs, not buffers.

[2015-01-02 20:11] dpwe commented on #140
On Fri, Jan 2, 2015 at 1:29 PM, Brian McFee <notifications@github.com> wrote:

.. and that won't be a trivial fix, since in some cases audioread
actually uses subprocesses.Popen to run ffmpeg passing the name of the
file for it to read.

We could always write our own version that only used codecs that
accept open files, but it would be some work.

  DAn.

[2015-01-02 20:18] bmcfee commented on #140
Exactly.

Alternately, if we switch over to PySoundFile (see the comment thread in #70), this would be supported pretty easily.

[2015-01-02 20:21] #106 closed

[2015-01-02 21:37] rikrd commented on #140
PySoundFile looks nice (didn't know about it).

In the specific case I reported, there is an additional issue of the
ZipExtFile not being seekable. I don't know how PySoundFile handles
non-seekable file-like objects, but one can still extract the entire wav
data from the zip file into memory, wrap it with a BytesIO and then decode
it using PySoundFile.

So having a load() taking a file-like object

[2015-01-02 22:02] bmcfee commented on #137
Agreed.

So far, I've dug up some numerical instabilities that crop up from defining `freq_angular` by
[code]
instead of
[code]

The former (used to match the matlab implementation) introduces some jitter into the real component of `fft(d_window)`: ![here](http://i.imgur.com/uq74B6P.png)

The jitter is relatively small, but it is of comparable magnitude to the power normalization in low-energy bin

[2015-01-02 23:36] dpwe commented on #137
Isn't that just a scaling thing?  Isn't the "jitter" because that's the
only graph where the vertical axis is 1e-15?

  DAn.

On Friday, January 2, 2015, Brian McFee <notifications@github.com> wrote:

[2015-01-03 18:05] bmcfee commented on #137
Yeah, fair enough.  Swapping it doesn't fix the bug.  The hunt continues...

[2015-01-03 19:01] #114 closed

[2015-01-03 19:55] bmcfee commented on #120
Chord (and other semantic) modeling functionality should be removed from the main librosa distribution and packaged as a separate module.

[2015-01-03 19:55] #120 closed

[2015-01-05 15:44] bmcfee opened #141 "The great refactor: modules -> submodules"
A tally of the current line counts (in the development branch) shows certain modules getting a bit unwieldy:

[code]

Especially `util`, `feature` and `core` are quite large.  We should factor out common functionality into submodules that get *-imported (to preserve the namespace).

- [x] More concretely, for `core`,  we can have the following structure
[code]

- [x] for `feature`:
[code]

- [x] a

[2015-01-05 18:02] bmcfee opened #142 "zero-crossings, zcr"
- [ ] zero_crossing : find indices where a time series switches signs
- [ ] zero_crossing_rate : feature extractor to calculate a sliding window average of zero crossing rates

Rationale:
- Smooth out edges when slicing and dicing audio clips via detected event boundaries (eg onsets, beats, or segments)
- Completeness (cause it's easy)

[2015-01-05 22:35] bmcfee opened #143 "Memory efficiency for util.match_*"
The matching utilities use numpy outers to construct large arrays, and then select out a minimizer among each row.  For large sets of events (eg, onset frames over a long track), this can become infeasible.

We should either operate per-row, or slice into reasonable-sized blocks as is done in `librosa.core.stft`.

- [x] match_events
- [x] match_intervals

[2015-01-06 00:12] dpwe commented on #143
Outers seems to be a bit of a disaster. For tasks large enough to care
about the speed-up, it seems to kill by memory.

I felt so clever using outers in audfprint.py.  But then it wouldn't work
on large files. And when I rewrote with a loop, it got much faster
(swapping bound, I guess).

  DAn.

On Monday, January 5, 2015, Brian McFee <notifications@github.com> wrote:

[2015-01-06 15:14] bmcfee commented on #143
I wouldn't say it's a disaster, just that it needs to be used carefully  (That is, only when quadratic memory consumption is okay.)

For event/interval matching at the level of annotations, quadratic memory was acceptable, since items numbered typically in the hundreds (worst-case).  This only became a problem when I started using the matching code for zero-crossing alignment (see #142), when ther

[2015-01-06 17:19] #143 closed

[2015-01-06 18:16] bmcfee opened #144 "More time and frequency converters"
These are mostly trivial, but convenient.

- [x] frames_to_samples, samples_to_frames
- [x] times_to_samples, samples_to_times
- [x] hz_to_note, note_to_hz

[2015-01-06 19:54] #144 closed

[2015-01-08 17:35] bmcfee commented on #141
This refactor should also resolve the core import problems reported in #90

[2015-01-08 17:42] bmcfee commented on #90
@wmaiouiru @CVertex I believe this issue can be tracked down to cyclic imports.  I just finished a substantial refactoring of the development branch. Would you mind checking it out and testing whether or not this import error still exists?

Thanks!

[2015-01-12 15:18] bmcfee opened #145 "Switch docstrings to numpydoc format"
Self-explanatory title.

[2015-01-12 16:01] craffel commented on #145
Why?

[2015-01-12 16:05] bmcfee commented on #145
1. Why not?
2. Standardization with scipy/numpy format
3. Better support for references/citations
4. Looks a little nicer than vanilla sphinx

[2015-01-12 18:34] #145 closed

[2015-01-12 19:44] bmcfee commented on #137
More investigation re: power normalization.  It looks like there are two distinct failures happening here.

1. Low-frequency bins are dipping negative, even with high energy.  These dips tend to be relatively small in magnitude.
2. High-frequency bins jumping way down low.  This is a confirmed stability problem:

[code]

The first column shows the power at a spectrogram bin corresponding to a nega

[2015-01-15 17:17] bmcfee commented on #141
A few more points for refactoring.  These are mainly to resolve some dangling cyclic import issues.

- [ ] frequency.pitch -> core.pitch : these functions don't really match up with the rest of the feature extraction functions, and core.cqt depends on them anyway
- [ ] move core.spectrum.cqt into its own submodule

[2015-01-15 18:28] #141 closed

[2015-01-17 19:47] bmcfee opened #148 "factor out nested functions"
Mainly to enhance code readability.

See:

- [x] cqt
- [x] beat_track
- [x] find_files

[2015-01-18 23:17] #148 closed

[2015-01-20 03:28] endolith opened #149 "MemoryError running stft"
I was going to write an `stft`/`istft` function for SciPy, found this library already has one, and tried it out.  First example from http://nbviewer.ipython.org/github/bmcfee/librosa/blob/master/examples/LibROSA%20demo.ipynb resulted in MemoryError on my machine.  So it looks like you are doing what I was going to do, breaking it up into chunks and doing N-D FFTs on each one for speed?  But I coul

[2015-01-20 14:09] bmcfee commented on #149
True, this parameter isn't currently exposed to the user.  The default block size was chosen somewhat arbitrarily, with the idea in mind that a savvy user might tweak it directly.

FWIW, 0.4 will include some parameters that are set in the environment (and I suppose, an ini file), and it would be simple to add a hook for the memory block size.

Still, it's strange that the demo notebook was bombin

[2015-01-20 14:39] bmcfee opened #150 "Improve unit test coverage"
Currently, our tests are almost entirely regression against prior implementations.  But, as the library is growing and including a wide range of utility functions, we should have better coverage for correctness tests as well.

As of 5fcaac3beb4fd536604b7d99b02165a8919978d6, our test coverage looks as follows:

[code]

[2015-01-20 19:40] bmcfee opened #151 "errors in estimate_tuning"
The tuning estimator fails 52 / 72 unit tests on a simple harmonic input.

Tuning estimation from frequency measurement input (ie, `librosa.core.pitch.pitch_tuning`) works, so these errors are due to `piptrack`.

[code]

[2015-01-20 19:46] craffel commented on #151
Where is this test and by how much is it failing?

[2015-01-20 20:07] bmcfee commented on #151
Check the develop branch, test_core.test_estimate_tuning.

[2015-01-20 23:14] ebattenberg commented on #149
It would be good to have the parameter exposed as a kwarg, as the optimal blocksize will probably vary with all the other params (and the target cpu architecture).  In my experience with tuning things like this, the optimal block-size is more influenced by cache size than it is main memory size, so my blocksizes end up being quite a bit smaller than 128MB (on the order of ~8MB depending on the CPU

[2015-01-21 00:18] endolith commented on #149
I meant I couldn't find any guide on how to know how much memory is ok for Python to try to use.  But documenting this variable somewhere would be good, too.

Well I was running it on a PC with memory-heavy web browser etc running in the background.  It works reliably with 32 MiB.  Sometimes it works with 64 MiB, other times "It seems the kernel died unexpectedly" and the try/except doesn't catch

[2015-01-21 01:29] craffel commented on #151
Is it a problem with the thresholding you're doing? (https://github.com/bmcfee/librosa/blob/develop/librosa/core/pitch.py#L67)

[code]

[2015-01-21 01:36] bmcfee commented on #149
Indeed!

I hacked up a quick notebook to benchmark this in the dev branch, and the results are [here](http://nbviewer.ipython.org/gist/bmcfee/a53223288773538826e8).

nb: this benchmark was computed on a lenovo x1 carbon (Intel Core i7 i7-4600U 2.10 GHz, 8GB ram), so your mileage may vary.

For sure worth exposing and documenting this feature though.  I'm not 100% convinced that a parameter is the

[2015-01-21 01:42] endolith commented on #149
Well ideally it would just use as much memory as possible, trying to allocate different sizes until it succeeds, but it doesn't seem Python provides any reliable way to do this?

[2015-01-21 01:45] bmcfee commented on #149
Maybe, but like @ebattenberg suggests, using bigger batch blocks doesn't necessarily translate to faster computation, which is really the only reason to use blocks rather than column-wise iteration in the first place.  Seems like aside from python's memory abstraction, virtual memory in general would make this sort of thing nasty to compute in practice anyway.

[2015-01-21 01:50] bmcfee commented on #151
Intriguing point!  That should really be a `>=`.

[2015-01-21 01:55] bmcfee commented on #151
... that said, changing to a >=, it still fails in the same cases.

[2015-01-21 02:03] ebattenberg commented on #149
@bmcfee The results in that notebook are interesting.  It seems like the fastest blocksize is around the L2 cache size.  One caveat when timing things in loops: the effects of cache warming can influence your relative timings.

[2015-01-21 02:13] craffel commented on #151
After this change,
[code]
yields
[code]

Is this not OK?  The target_hz is 430.57170731858804.  Is it worse in other cases?

[2015-01-21 02:28] bmcfee commented on #151
You  mean `pitch[(mag >= threshold) & pitch_mask]`?

Yes, in that case, it works, and estimates the tuning within 0.5 cents, and the test passes.

But it still fails in the majority of remaining cases:

[code]

and so on.

[2015-01-21 02:50] craffel commented on #151
Haha no, I changed
[code]

I don't think it's because of piptrack, unless these estimates are not good enough.

[code]
(`t`, `sr`, etc all defined as above) yields
[code]
and  `target_hz = 440` yields
[code]

[2015-01-21 14:53] bmcfee commented on #151
Not sure this change makes sense?  We can't use ``pitch == 0`` to estimate tuning, right?

Meanwhile, I relaxed the tests a bit and we're down to 4 failures as of 381d7e2e2c2adc01fda8d50f16f9c4d6e9a3814c.  This includes the following changes:

- Removed tests at 11025Hz
- Removed tests for ``resolution=1e-3``
- Changed the test logic from
[code]
to
[code]
This avoids some floating point precision

[2015-01-22 02:23] ebattenberg opened #154 "Automatically choose fastest possible resampling quality in CQT"
According to http://www.mega-nerd.com/SRC/api_misc.html#Converters, the resampling qualities "sinc_*" have 97 dB SNR and 97%, 90%, and 80% bandwidth for best, medium, and fastest, respectively.    It therefore shouldn't be too hard to estimate the minimum resampling bandwidth required given the distribution of CQT filters in an octave.

I'm suggesting this because sinc_best can slow down the CQT b

[2015-01-22 05:04] ebattenberg commented on #154
I just wrote some code that does this.  I'll send a pull request tomorrow.

[2015-01-22 05:08] ebattenberg commented on #154
One question though,  I'm using fc*(1+1/Q) as the upper boundary of the passband of the filter.  Is this correct?  Or should it be fc*(1+1/(2*Q))?  fc/Q is the bandwidth of the filter right?  So fc/(2*Q) is how far above the center frequency the passband goes?  I used fc*(1+1/Q) for the constant_q aliasing check in filters.constant_q (develop branch), so I'd have to modify that there as well, if i

[2015-01-22 14:32] bmcfee opened #155 "feature.delta or deltas.m off by one?"
In writing tests for `feature.delta`, I came across a possible off-by-one column error.

Here's the output of the matlab version [deltas.m](http://labrosa.ee.columbia.edu/matlab/rastamat/deltas.m):
[code]

and the librosa implementation:
[code]

When trimming is disabled, you can see that the deltas.m output is contained in librosa's, but shifted right by one column.  I'm inclined to think that li

[2015-01-24 18:03] bmcfee opened #157 "numbafy"
Wherever it makes sense to accelerate loop code, we should jit-compile.

Specifically,
- [x] util.match_events
- [x] util.match_intervals
- [ ] util.peak_pick
- [ ] beat.__beat_track_dp
- [ ] core.constantq.cqt internals
  - [ ] trim_stack
  - [x] num_two_factors
- [ ] core.spectrum.stft
- [ ] core.spectrum.istft
- [ ] decompose.nn_filter
- [ ] feature.util.sync
- [x] feature.util.stack_memory
- [

[2015-01-26 20:09] bmcfee commented on #119
While we're at it: how about redoing the `onset_detect` sweep for `hop_length=512`, so that it more easily lines up with everything else?

[2015-01-26 21:10] bmcfee opened #158 "Refactor specshow's axis code"
We should be able to apply any axis type to either x or y.  This will be most easily accomplished by pulling the axis logic out and abstracting it a bit.

[2015-01-27 00:19] #158 closed

[2015-01-28 00:10] bmcfee commented on #70
I just took a look at PySoundFile 0.6, and it seems really nice.  It seems to do pretty much everything we want in terms of this issue, and issues #116 and #140. The one downside to switching from audioread to pysoundfile is that it's based on libsndfile, and thus does not support mp3.

I'd hate to lose mp3 support, but I also don't want to support multiple backends with differing functionaliy.  (

[2015-01-28 00:17] craffel commented on #70
Kind of, but this is basically what `audioread` does, so it's essentially what is currently being done although the onus is being placed on an external library.  I don't know of a way to avoid this currently (i.e. you either need to support multiple backends, or get everything except mp3 with libsndfile).

[2015-01-28 00:50] bmcfee commented on #70
Yup.  I'm happy for audioread to do that for us, but it's also lacking a lot of functionality from pysndfile that would be nice to have.

OTOH, it probably makes sense to add pysndfile as an optional dependency anyway, and use it to replace our `output.write_wav` (falling back on scipy.io if you don't have psf).  If we're already going down that road, we may as well take advantage of the other fun

[2015-01-28 00:54] craffel commented on #70
Yeah, I think this is the best solution I know of.

[2015-01-28 13:30] bmcfee opened #160 "replace filters.logfrequency with constant_q fft basis"
For consistency with pseudo_cqt

[2015-01-28 15:16] #154 closed

[2015-01-28 20:08] bmcfee opened #161 "peak_pick corner cases"
I'm writing correctness tests for the peak picker, based on the guarantees described in the docstring:

    1. `x[n] == max(x[n - pre_max:n + post_max])`
    2. `x[n] >= mean(x[n - pre_avg:n + post_avg]) + delta`
    3. `n - previous_n > wait`

The parameters sections describes the valid inputs as follows:

    x         : np.ndarray [shape=(n,)]
    pre_max   : int >= 0 [scalar]
    post_max  : i

[2015-01-28 20:42] craffel commented on #161
This seems fine to me.

[2015-01-28 21:01] bmcfee commented on #161
Ok, I've made the changes locally.  I'll push when the tests succeed properly.

[2015-01-28 21:05] bmcfee commented on #161
@craffel I'm getting failures on peak_pick condition 2; it seems to be picking points that are less than delta above the local mean.  In an extreme case (len(x) == 1, minimal pre/post/wait settings), I get

    x[n] = 1.76950448645
    x[n - pre_avg:n + post_avg] = 1.76950448645
    delta = 0.5

according to the definition, this signal should have no peaks.  It looks like this is getting thrown by

[2015-01-28 21:34] bmcfee commented on #161
Switching to `mode=nearest` fixes many of the test failures, but not all of them (including non-trivial inputs).

Upon closer inspection, it looks like this is coming down to the difference between `uniform1d` and taking the mean on slices around the peaks.

[2015-01-28 22:03] craffel commented on #161
Hmm.  I think `constant` make sense for `maximum_filter1d` and `mirror` makes sense for `uniform_filter1d`.  Does that cause issues?  What are you comparing against?

[2015-01-28 22:16] bmcfee commented on #161
I buy `constant` for max, if `cval = x.min()`.

Mirroring makes me nervous here, since this introduces a dependency forward in time for the average.  This will impact the greedy picking down the line.

My test suite generates random non-negative (`x = np.random.randn(n)**2`) input, and sweeps over all parameters (both valid and invalid) configurations.

I was getting some issues with the "avg_leng

[2015-01-28 22:24] craffel commented on #161
Err, yeah I think `nearest` for `uniform_filter1d` makes sense.  What edge mode is the example you just posted using?  I think it's fine to specify in the docstring what the edge padding being used is, as a separate condition, and leave it at that.

[2015-01-28 22:32] bmcfee commented on #161
That example was using 'nearest', which doesn't actually appear to be clearly documented anywhere?  Edge padding isn't an option in ndimage.

Either way, the answer looks wrong, since it should have picked 3 (0.931) rather than 2 (0.359).

I'm thinking we may be better off padding and trimming manually.

Incidentally, are you sure about the origin logic?  The current code does `int(0.5 * (pre_avg

[2015-01-28 22:41] craffel commented on #161
Yeah, I don't see anywhere that the `mode` parameter values are documented.

Huh?  That's what some of the mode values do, I think.

You're probably right.

In my initial commit, I was using an explicit floor.
https://github.com/bmcfee/librosa/commit/f0fa392fb6ebebc0bc1774a6651ec7b9cb3eddef
I'm not sure when it changed.  At any rate, I generally trust you more than myself circa 2013.

[2015-01-28 22:49] bmcfee commented on #161
ok, so the origin should be -1 and not 0?

also, disregard my previous comment about wrong answers: i had a brainfart confusing max with avg.

[2015-01-28 23:52] bmcfee commented on #161
scratch that, -1 isn't valid.

[2015-01-29 00:41] bmcfee commented on #161
e537ec2abcb51272aeba28ad542c5f1159f01d28 includes a more realistic set of test criteria, and adds some numerical stability to get around comparison tests near 0.

We're still failing a handful of tests though: my latest run had 22 failures out of 12288 tests.  @craffel please poke through this when you get a chance.

[2015-01-29 02:03] craffel commented on #161
I'm not totally following what the tests are doing.  In both tests it sets
[code]
Won't `s` always be `i` then?

[2015-01-29 13:58] bmcfee commented on #161
Yep.  It's just there to declutter the slice on the padded array.

[2015-01-29 16:06] craffel commented on #161
Shouldn't `s` be `i - pre_max` (or 0 when `pre_max > i`?

[2015-01-30 03:44] craffel commented on #161
This `peak_pick`, which explicitly computes the sliding mean/max in a for loop, does what I expect it to:
https://gist.github.com/craffel/496329b72e5969417257#file-gistfile1-py
This is the test I'm using, which tests how I interpret the definition of the peak picker:
https://gist.github.com/craffel/496329b72e5969417257#file-gistfile2-py
(note that I'm computing `s` and `t` differently than you)

T

[2015-01-30 15:33] bmcfee commented on #161
Does it fail both max and mean tests?  Or just the mean test?

I'd rather not use the slower version.

I think we can significantly accelerate your explicit version by using `util.frame` to make windows in-place and computing max/mean along the vertical axis without looping.  It probably still won't be as fast as the ndimage.filter version, but it might be acceptable.

See #157 , planning for 0.5.

[2015-01-30 16:26] bmcfee opened #162 "JAMS annotation querying/filtering"
brainfart ; added this to the wrong repo

[2015-01-30 16:38] #162 closed

[2015-01-31 15:33] craffel commented on #161
Created PR #163 which hopefully resolves this.

[2015-01-31 15:43] bmcfee commented on #161
Resolved by #163

[2015-01-31 15:43] #161 closed

[2015-01-31 16:02] #151 closed

[2015-01-31 17:03] bmcfee commented on #150
The current state
[code]

[2015-02-03 16:06] bmcfee opened #164 "greedy vs optimal peak-picking?"
(cc @craffel @dpwe)

The current peak picker uses a greedy heuristic to select peaks from a time series `x(t)`, after narrowing down to a set of time points that satisfy some selection criteria (local maxima, significantly larger than local mean, well-separated).

I think we can do better by more carefully defining an optimization problem to be solved.

The greedy algorithm is essentially finding

[2015-02-03 19:06] bmcfee commented on #164
Right, this would be the point of using a DP.  The recurrence for the value at time `t` would look like:
[code]
A peak is either selected and inhibits those immediately after it (first cast), or not selected, and thus inherits the best value from the following timestep.  This optimization does not need to be bi-directional.

[2015-02-03 19:23] ebattenberg commented on #164
Are there different peak picking modes?  I ask because in most of my work,
I've only used causal peak-picking (with a small amount of latency) because
of the real-time aspect of the applications.

I guess the algorithm you just proposed is causal during the first pass.
But is there then a non-causal backtracking/decoding step?

On Tue Feb 03 2015 at 11:06:44 AM Brian McFee <notifications@github.co

[2015-02-03 19:37] bmcfee commented on #164
The DP would actually be a single backward pass, so it would not be real-time friendly.

Note: I'm not suggesting to replace the existing picker, but to supplement it with the DP solution.

[2015-02-03 20:12] dpwe commented on #164
I don't get it.  My intuition for DP is that I work up to time T, and at
that time I can figure out whether to include or not include the peak at
that point, and that I won't have to revisit that decision later on.

Your recurrence appears to be DP working backwards in time, but the peak
picking process, I believe, should be symmetric in time (we're just looking
for prominent peaks, we're not talk

[2015-02-03 20:32] bmcfee commented on #164
No, but if we're breaking the problem into smaller pieces, we do need to settle on a single direction.  The reverse would also work, as you mention, but it feels less natural to me.

In either case, it still can't work online as it needs to recurse all the way down to the base case (end of the signal/empty candidate set).

[2015-02-05 14:20] bmcfee opened #165 "inverse CQT"
(cc @ebattenberg @dpwe)

Seems like we ought to be able to do this, if we preserve phase in the cqt.

The main barrier comes from variable_hop, which uses oversampling and aggregation to handle large hop-sizes with small filters.  This works fine in magnitude, but I don't see a clean way to make it work out in the complex domain.

Perhaps we can add a `dtype` parameter to cqt: if the user requests

[2015-02-05 18:20] dpwe commented on #165
Typically you need to have a very high frame rate (close to the original
sampling rate, depending on the Q and the top frequency) to preserve all
the information in the highest bin.

What do we provide as the phase for under sampled wide-bandwidth bins?

  DAn.

On Thursday, February 5, 2015, Brian McFee <notifications@github.com> wrote:

[2015-02-06 21:33] ebattenberg commented on #165
I don't have any experience doing an inverse CQT.  As far as I understand it, the inverse transform is approximate (not exactly invertible).  Some things to consider that would affect the quality of the approximation are:

1. The sparsity threshold for the frequency kernels.
2. The hop-size.  I not sure how this would work with any type of over-sampling aggregation.  I also don't think the pseudo

[2015-02-06 22:19] dpwe commented on #165
I think it's the high frequencies that are the limitation.  If you have
constant Q, you have bandwidth increasing with frequency.  A semitone CQ
bank might have a bandwidth of 6%, or a Q of 16.  That means if you want
50% overlap of time windows, you can only afford to downsample by 8, i.e.,
for 16 kHz data, you need a frame rate of ~2 kHz (0.5 ms hop).

Of course, that's only for the top bin; you

[2015-02-09 14:46] bmcfee opened #166 "Onset detection errors with large hop size"
This relates to #161 and #163.

If you increase the hop size from 64 to 512, things go bad:

[code]

This happens because the `post_max` parameter rounds down to 0 by default, which is no longer permitted.  Overriding the default causes another error:

[code]

[2015-02-09 17:17] craffel commented on #166
Both of these issues are basically because we need to re-run the param optimization.  The first issue is because of the recent changes in #163 - the param optimization was done assuming that `post_max` and `post_avg` could be `0`, and for whatever reason chose `post_max = 0` as the best value, which causes a `ValueError` now.  The second issue is partially because the param optimization was done u

[2015-02-09 18:05] bmcfee commented on #166
One sample for pre_max (and post_max) should still be valid though, right?  Wouldn't that just correspond to a localmax?

Since `peak_pick` needs integer values there, i think that's the place to fix it (with a ceiling, by default).

[2015-02-09 18:12] craffel commented on #166
Yep, it's valid, but it's arguably wrong because the parameter optimization was done for a different hop size.

This is a broader question -- if the docstring/function wants input of a certain type, is it the function or caller's job to cast to that type?  If we cast to int within `peak_pick`, we should probably place input casts on all functions throughout the library (unless this is done already

[2015-02-09 18:27] bmcfee commented on #166
But it shouldn't crash.  (Also, the parameter is a function of time and expressed in terms of hop_size and sr, so it should be okay, if not exactly optimal.)

Python, being weakly typed, generally wants you to be able to get away without casting at all.

In librosa, that doesn't exactly fly, so we do explicit checks in certain places.  (see: `util.valid_audio`, or the complex-type checks in `specs

[2015-02-09 18:37] craffel commented on #166
Right, it crashed (essentially) because the arg was non-int, not because it's a bad parameter setting.

OK, so you'd suggest

[code]
for all window arguments in `peak_pick`?

[2015-02-09 19:00] bmcfee commented on #166
I wouldn't do an exact type equivalence test.  Instead, this might be better
[code]
since it would catch `int`, `long`, and numpy integer of any precision.

[2015-02-09 19:11] craffel commented on #166
OK, updated the PR.

[2015-02-10 13:39] bmcfee commented on #166
a7af2a9d52d208a474e05c900506e3a8f47160f9 factors that validatoin out into its own function (`util.valid_int`).

[2015-02-13 19:33] bmcfee commented on #86
Two updates here:

- switched over to using `six` for the gruntwork on this
- travis-ci tests are now up and running, so we can test on 2.7 as well as 3.3.  Coverage is not 100% yet (#150 ), but we're getting there.

Once we hit total test coverage (within reason), and the builds start passing, I'll close this issue.

[2015-02-13 20:04] bmcfee commented on #138
@dawenl this is currently the only failing test in develop... feel like fixing it?

[2015-02-13 20:25] dawenl commented on #138
Yes, we can set the seed fixed. I will take a look at it over the weekend.

[2015-02-13 21:18] dawenl commented on #138
I think it's fixed now. Could you check as well?

[2015-02-13 21:54] bmcfee commented on #138
Looks good. thanks!

[2015-02-13 21:54] #138 closed

[2015-02-15 14:59] bmcfee opened #168 "Add deprecation/moved warnings for functions that changed places in 0.4"
Here's a listing of migrated functions:

- [x] core.peak_pick -> util.peak_pick
- [x] core.localmax -> util.localmax

and functions to deprecate:
- [x] feature.logfsgram
- [x] filters.logfrequency
- [x] core.ifptrack
- [x] output.frames_csv
- [x] util.buf_to_int

[2015-02-16 01:04] bmcfee commented on #150
For folks watching at home, contiguous integration tests are now running with coverage, so we can monitor this as it develops: https://coveralls.io/r/bmcfee/librosa

[2015-02-16 16:55] bmcfee commented on #166
Onset detection unit tests now cover multiple hop-lengths.

[2015-02-16 16:55] #166 closed

[2015-02-16 16:56] bmcfee commented on #160
Instead, we'll deprecate `logfrequency` in 0.4 and remove it in 0.5.

[2015-02-16 16:56] #160 closed

[2015-02-16 16:59] bmcfee commented on #168
Other possibilities:

- [ ] rename `feature.chromagram` to `feature.chroma_stft` (with an `@moved` decorator for now), then add a `chroma_cqt` function.
- [ ] deprecate `segment.structure_feature` in favor of more direct, but less concise, pair of functions `segment.recurrence_to_lag` and `segment.lag_to_recurrence`.  Should these even be in segment?

[2015-02-17 18:18] bmcfee commented on #150
We're at over 90% on everything except the CQT and display submodules.

- CQT : anyone got ideas for how to do these tests sanely, other than just checking that it doesn't crash?  paging @ebattenberg ?
- display: currently stuck on getting matplotlib's image comparison tests to run outside of matplotlib.  It seems ... ugly.

[2015-02-17 18:22] bmcfee opened #169 "Update AUTHORS.md"
Leave none behind!

[2015-02-17 18:51] bmcfee opened #170 "librosa.display.specshow cannot handle log-log axes"
This is because x- and y- axes are handled separately in the current implementation, and `__axis_log` assumes that the other axis follows a linear scale.

[2015-02-17 21:05] ebattenberg commented on #150
Sure, I'll take a look at this and see what kinds of things can be tested.  Might take a week.

[2015-02-18 00:26] bmcfee commented on #150
:+1:

There are already tests in place for the filter bank construction, but I'd hesitate to call them "complete".

Back to `display`: up over 90% coverage after forking and hacking matplotlib's image comparison module.

THE BADGE IS GREEN, PEOPLE!

[2015-02-18 14:59] bmcfee opened #171 "make chroma start at C, not A"
Since we're apparently never going to teach the music kids how to sort their letters, we may as well jump on board.

Affected functions:

- [x] cq_to_chroma
- [x] chromagram
- [x] chromafb
- [x] specshow (__axis_chroma)

[2015-02-18 19:50] #171 closed

[2015-02-18 21:00] #169 closed

[2015-02-19 13:33] #86 closed

[2015-02-19 13:34] #90 closed

[2015-02-19 13:34] #168 closed

[2015-02-19 13:37] bmcfee commented on #155
I've added unit tests for the simplest case of width=3, and integrating back librosa's output gives the input (as expected).

[2015-02-19 15:05] dpwe commented on #155
Deltas is not supposed to be first-order difference (use np.diff if you
want something you can "integrate back"). It's supposed to be an estimate
of the local slope, based on a symmetric weighted window. I'm pretty sure
that the Matlab behavior is right. I also think that, given a symmetric,
"stationary" input, we want a symmetric output.

  DAn.

On Thursday, February 19, 2015, Brian McFee <notif

[2015-02-19 15:28] bmcfee commented on #155
Maybe I'm not understanding the distinction.  Shouldn't `width=3` act exactly like a centered first-order difference (up to normalization), and in that sense, shouldn't integration recover the original input (if it's actually linear)?

Also, pardon the tangent (zing!), but if it's an estimate of the "slope", shouldn't it be normalized by the `width` (rise-over-run and all)?  It seems strange that

[2015-02-19 15:33] dpwe commented on #155
I think it should return the same value, modulo the smoothing, as
width increases.  And, moreover, that value should be 1.0 when the
input is np.arange(num_points).  If we don't have that already ...
then the whole world is wrong.

  DAn.

On Thu, Feb 19, 2015 at 10:28 AM, Brian McFee <notifications@github.com> wrote:

[2015-02-19 15:37] bmcfee commented on #155
Well, currently, neither implementation normalizes by width... so yep.

If we throw that in, then both versions basically do the right thing, ignoring the off-by-one shift that started this thread, and ignoring the non-linearity due to edge-copy padding the input (as opposed to linear extrapolation).

[2015-02-19 15:38] bmcfee commented on #155
(nb: normalization should be by `floor(width//2)`, not `width`)

[2015-02-20 15:26] bmcfee commented on #155
Changes are implemented but not yet pushed.  Here's a notebook explaining the changes and giving a simple demo on a linear function.

http://nbviewer.ipython.org/gist/bmcfee/f1ef5fc8d4e8356f9961

Does this look correct?

[2015-02-20 19:08] dpwe commented on #155
I don't know what 'untrimmed' is for, but 'trimmed' looks great.

  DAn.

On Fri, Feb 20, 2015 at 10:26 AM, Brian McFee <notifications@github.com> wrote:

[2015-02-20 19:28] bmcfee commented on #155
Untrimmed output there probably has no real use (maybe even less utility than `full` mode in fftconvolve), but it's helpful for debugging.

Anyway, unit tests are updated and everything checks out.  Thanks for the eyeballs!

Closing this one.

[2015-02-20 19:28] #155 closed

[2015-02-20 19:54] bmcfee commented on #128
Following up on this:

- Testing this bug should disable resampling (`sr=None`), just to eliminate all the irrelevant variables.
- It seems to be codec-dependent.  Using wav-file input, either stereo or mono, I get bit-level precision.
- With ogg and mp3, I still get failure as originally reported.  I suspect this is down to how the different codecs batch up frames, and it's really not something t

[2015-02-20 21:13] bmcfee commented on #170
There's still an error in setting the extents of the non-uniform images with log-scale axes; pixels at the edges get cut down too small.

[2015-02-20 21:40] #170 closed

[2015-02-20 22:02] bmcfee commented on #149
So, aside from reducing the block size, I don't see any need to do any major rewriting of stft right now.  All of the demo code and default parameters have been updated to use a 23ms hop, so you shouldn't hit any snags out of the box.

The 0.5 milestone issue #157 includes porting core components to cython, and specifically I'll be targeting `stft` (and friends), and a few other tight-loop functio

[2015-02-20 23:20] bmcfee commented on #137
Picking this one up again, and I still don't understand what exactly is going on.

My current best guess is that this line of code:
[code]
needs to be reworked.  The term
[code]
should compute a (fractional) bin offset from the center bin (freq_angular), which then gets scaled back into linear frequency.

Does it ever make sense for the bin offset to be outside of [-1, 1]?  ie, do we want to assig

[2015-02-21 21:47] endolith commented on #149
I'd say changing the block size counts as a fix

[2015-02-22 16:27] dpwe commented on #137
No, you don't want to limit it to be +/- 1 bin.  Part of the point of
IF is to be able to find several bins dominated by the same frequency
component (due, e.g., to window spreading).  So you want the reported
frequency to be able to be outside the nominal range for that bin.

Negative frequencies are part of the deal here.  Why exactly do you
want to get rid of them?  They violate some basic sani

[2015-02-23 14:28] bmcfee commented on #137
Originally, I wanted to get rid of them because they were screwing up the statistics for tuning estimation. Now they just bother me. :)

Anyway, I agree on the bin deviation limit (glad I asked).  In those settings though, shouldn't we expect some continuity in the estimated frequencies?  Instead, I'm seeing wild flapping (not just at the edges), which coincide with numerical instability.

To get

[2015-02-23 20:00] bmcfee commented on #137
Here are a few things we can do, which break backwards compatibility, but I think are worth it:

- Change the if_gram calculation from
[code]
to
[code]
This is (ideally) equivalent, but more stable than dividing by squared magnitude.  This already breaks backwards compatibility, but should pass `allclose` with a still reasonable tolerance (1e-3 seems to work on the example track).

- Add a minimum

[2015-02-23 20:02] #149 closed

[2015-02-23 23:43] dpwe commented on #137
On Mon, Feb 23, 2015 at 3:00 PM, Brian McFee <notifications@github.com> wrote:

This doesn't seem like such a big improvement.  Our problem comes from
small projections of the complex product of stft_matrix[i, j] and
diff_stft[i, j], which is then scaled by <power>.  <phase> is
(apparently) stft_matrix/np.abs(stft_matrix), so we can divide down
both numerator and denominator by <mag> = np.abs(stft

[2015-02-24 15:45] bmcfee commented on #137
Yes, this is what I meant by "numerical instability" before.  It does help, but doesn't fix everything, as you mention.

Iduno, results like this just look wrong to me, and if we can fix them, I think we should:
![Imgur](http://i.imgur.com/C8tGCoX.png)

That's an interesting idea; but yes, I think discarding unreliable estimates would make sense.

Anyway, I suspect it's probably not worth investin

[2015-02-24 16:34] dpwe commented on #137
Yeah, that's quite compelling.  Let me try to look into the background.
Although I reference the Abe paper, I think it's the same principle
described in eqn. 7 of Flanagan & Golden 1966
https://www.ee.columbia.edu/~dpwe/e6820/papers/FlanG66.pdf
which is just differentiation by parts?

  DAn.

On Tue, Feb 24, 2015 at 10:45 AM, Brian McFee <notifications@github.com>
wrote:

[2015-02-24 16:43] dpwe commented on #137
No, it's not the same. F&G take first-order difference of successive
frames; Abe actually takes the derivative of the window function: eqn. (7)
in
https://www.ee.columbia.edu/~dpwe/e6820/papers/AbeKI96-if.pdf

My best guess is the errors (between analysis & actual values) creep in
through the discretization.

That value that's miles outside the range must come from a very small
denominator.  So ma

[2015-02-24 18:17] bmcfee commented on #137
Yup, that's basically what I was proposing with the first and second modifications above.  The last modification is a last-ditch, clean-up-the-leftovers fix to handle the small negative values at the bottom of the spectrum.

[2015-02-24 18:20] dpwe commented on #137
OK, I agree.  Actually, maybe simply clipping everything at [0, sr/2]
is enough: if the value strayed to those limits, we want it to be easy
to spot.  "Softening" a straying value so it just avoids hitting the
edges doesn't seem like it's helping much (although masking values
that might be in the acceptable range but are basically junk seems
like a good idea too).

  DAn.

On Tue, Feb 24, 2015 at

[2015-02-25 01:08] #137 closed

[2015-02-25 23:57] bmcfee commented on #128
A bit more investigation:

- wav, au, and m4a give total agreement
- mp3 messes up only in the first frame; trimming everything past the first 1364 samples (at 44KHz) gets bit precision
- flac and ogg are messed up all the way through

In terms of audioread backend, I get:

- :+1: wav : MadFile
- :+1: au : MadFile
- :+1:  m4a : subprocess
- :-1: mp3 : MadFile
- :-1:  flac : subprocess
- :-1:  ogg

[2015-03-10 15:37] bmcfee opened #174 "chroma_cqt and cq_to_chroma enhancements"
The current mapping between cqt and chroma is simple: collapse out pitch classes.

We could (should?) expand this in a couple of directions:

* Non-uniform octave/height weighting
* More flexible cq_to_chroma filters, eg, center-surround
* If cq_to_chroma filters are allows to dip negative, there should be an option to threshold the resulting chroma prior to normalization

[2015-03-10 19:35] dpwe commented on #128
I agree with punting on this for now.  But I want to clear up a confusion.

The basic problem is that reading a sound file is not stateless in some
circumstances.  One obvious case is if reading the data involves some kind
of filtering, in which case the impulse response of that filter will make
the current samples depend on the past.  The reconstruction filter of
subband encoding schemes such as

[2015-03-10 21:19] bmcfee commented on #128
Ok, that definitely clarifies things, thanks!

I was mainly concerned with the native sampling rate problem (if we can't get that right, we have zero hope of debugging with resampling), and lost track of the resampling issue.

I'm still seriously considering rewriting the load code to use pysoundfile ( #140 ), which might obviate any solutions we come up with, or introduce other problems of its ow

[2015-03-10 22:19] dpwe commented on #128
Sounds good.

  DAn.

On Tuesday, March 10, 2015, Brian McFee <notifications@github.com> wrote:

[2015-03-11 12:15] bmcfee commented on #174
note: octave/height weighting can be readily accomplished by pre-multiplying the cqgram.  For now, I see no reason to bake this into `chroma_cqt` or `cq_to_chroma`

[2015-03-11 12:15] #174 closed

[2015-03-19 14:30] bmcfee opened #175 "switch to scipy.fftpack"
Should make things faster.  (Reminded by [this pr](https://github.com/craffel/mir_eval/pull/105).)

A first cut at this ended up breaking numerical precision in the regression tests.  Probably we'll need to pick through the code and see what exactly needs to change to make this work.

[2015-03-19 15:22] bmcfee commented on #175
For most STFT applications, the speedup here is relatively negligible.  This stems from the slightly different API of fftpack and np.fft.

However, this change should have some bearing on #172 and the general set of CQT enhancements from @ebattenberg; especially when it comes to very long filters.

[2015-03-19 15:47] bmcfee commented on #175
c56e99dbd5b82e8e08898a4de34ad9e58bb80834 passes travis, all is well.

[2015-03-19 15:47] #175 closed

[2015-03-25 18:35] craffel opened #176 ""Soft" feature.sync?"
Currently, `feature.sync` assumes that you want to integrate over frame indices, i.e. "aggregate features from frame n to frame m".  In the more general case, you have a sequence of times (call it `times`) of shape `(n_samples,)` and a series of feature vectors (call it `values`) of shape `(n_features, n_samples - 1)` where `values[:, n]` denotes the value of the features from `times[n]` to `times

[2015-03-25 18:51] bmcfee commented on #176
In the specific case of averaging, yeah, I think I get it.  It's considerably more complex for generic aggregators though: how would it work for median?  max?

I'm not sure I like the idea of having two unaligned, non-uniform index sets though (`times` vs `new_times`).  It's conceptually much more simple to push one of them down to a uniform grid (as illustrated in your figure) and then just have

[2015-03-25 18:59] craffel commented on #176
I don't know; right now I'm only targeting mean aggregation.

That's essentially what the code does - it resamples one time series to the times present in the other so that it can be indexed.  Unless I'm not understanding what you mean.

Yes, confirmed via profiling.

That's how `beat_aligned_feats` does it, but the way they compute the time-warp matrix for the dot-product is less efficient than w

[2015-03-26 16:24] craffel commented on #176
I swapped out the original `align_feats` in my local `beat_aligned_feats` copy with my function from above https://github.com/craffel/midi-dataset/blob/master/beat_aligned_feats.py#L197.  Closing this, feel free to reopen if it's something you want in librosa.

[2015-03-26 16:24] #176 closed

[2015-03-27 13:43] bmcfee opened #177 "display.waveform()"
A little embarrassing that we don't already have this, right?

I took a quick stab at this [here](http://nbviewer.ipython.org/gist/bmcfee/4caa956f3debbe461f9c).

It's functional enough, but there are plenty of design choices to be made, so I'd like to punt it until the next minor revision.

Some things to work out:

- Downsampling: how much can we get away with?  Is there a standard for this?
- St

[2015-03-28 02:16] bmcfee commented on #177
[New and improved](http://nbviewer.ipython.org/urls/gist.githubusercontent.com/bmcfee/4caa956f3debbe461f9c/raw/1dc5fc92d75c3a92cdc6cd81961d81a7ce589663/Waveform%20plot.ipynb)

- x_axis parameter
- color cycling is now by default consistent with `plot()`
- stereo support (left = positive, right = negative)

Only remaining bit is to work out how to limit downsampling so that it still looks good on v

[2015-03-30 15:00] bmcfee opened #180 "Narrowing cache"
I may have gone overboard in the initial implementation of feature caching.  Perhaps we don't actually want all features to be cached, but only the expensive ones?

Many of the cached function inputs are quite large (eg, uncompressed audio buffer), so storing the cache keys might blow up. However, the features we compute are often quite inexpensive (ie linear), given the initial STFT or CQT matrix

[2015-03-30 19:37] bmcfee commented on #119
Beat / tempo:

- Parameter optimization on SMC2 + Beatles, sweeping over the following parameters
  - onset: aggregate, fmax, n_mels
  - tempo: ac_size, std_bpm
  - beat_track: tightness
- Results say to update the default parameters as follows:
  - aggregate was `np.mean`, now `np.median`
  - fmax is `8000.0` by default (for onset_envelope calculation).  Was `None` (sr/2) before.
  - n_mels is st

[2015-03-30 20:52] bmcfee commented on #119
Onsets:

* Parameter optimization on @craffel's dataset, sweeping over
  * aggregate, fmax, n_mels
  * delta

Lucky coincidence, the parameters to onset strength lined up exactly with those chosen for beat tracking: `median, 8000, 128`.

The best `delta` parameter is now 0.01, owing to the increased sparsity from switching `mean` to `median`.

@craffel when you get a minute, can you dig up the sco

[2015-03-30 20:59] craffel commented on #119
I got a maximal mean F-measure over the dataset you have of .7449, but I was doing a parameter sweep over all of `peak_pick`'s parameters, not just `delta`, and none of `onset_strength`'s parameters.  The default parameter values in `onset_detect` are the ones I found: https://github.com/bmcfee/librosa/commit/e9fa5eb511012177f46a97e83ede6d4ecb4f23ce

[2015-03-30 21:03] bmcfee commented on #119
O_o

that's much higher than what I'm seeing.

I left the pre_ and post_ parameters alone, since A) that's a huge parameter space for a tiny problem (duh, lern 2 machine lern nubcakes) and B) they should (!) be reasonably stable when represented in time (not frames).

Maybe a bigger parameter sweep is in order...

[2015-03-30 21:09] craffel commented on #119
You could run https://github.com/CPJKU/SuperFlux/blob/master/SuperFlux.py over this dataset to see what kind of results are achieved by a pretty similar system which is pretty heavily hyperparameter-optimized.

[2015-03-30 22:19] bmcfee commented on #119
As a sanity check, I rolled back to hop=64 and swept delta with the remaining stock parameters.  I get a top mean F of 0.361, which is closer to what I'm seeing now.

**derp** upon closer inspection, i forgot to log everything.  Rerun...

[2015-03-30 22:26] bmcfee commented on #119
putting the log back in only gets to F=0.391.  Something seems wrong.

[2015-03-30 22:39] craffel commented on #119
Yeah, something is wrong.  I just re-ran my script from before and got a mean f-measure of 0.7407...  Here's a snippet which will hopefully reproduce that score for you: https://gist.github.com/craffel/2c76e74589e99c3f1246 (apologies if it doesn't work off the bat, it's copied from my ipynb).  There is some special sauce there in terms of normalizing the onset strength signal and adjusting the ons

[2015-03-30 22:45] bmcfee commented on #119
You're at 16KHz?  Wut?

[2015-03-30 22:48] craffel commented on #119
I'm not sure why, but I'd be surprised if that cut the F-measure in half.

[2015-03-30 22:48] bmcfee commented on #119
also https://gist.github.com/craffel/2c76e74589e99c3f1246#file-gistfile1-py-L15 is running at the default sampling rate (22KHz), but your audio is loaded at 16.  I'm amazed this works.  O_O

Do you happen to have a revision/librosa version/timestamp on that experiment?  I think https://gist.github.com/craffel/2c76e74589e99c3f1246#file-gistfile1-py-L27 should no longer be necessary.

[2015-03-30 23:02] craffel commented on #119
Oops, this was a copy/paste error.  The `SR = 16000` was for some diagnostics onset + clicks files I was creating.  The onset strength signal pre-computations I was doing was with default sampling rate everywhere.  I've updated to reflect this.

No, but I just ran this gist with the latest develop commit and that gave .74 F-measure.

Maybe, I don't know.  Maybe it was from before you added the `sr

[2015-03-30 23:05] bmcfee commented on #119
Ok.  I stft centering was added in january 2014 #71 , so that makes sense.

frames_to_time should always have had a sr keyword though.

Still investigating over here... maybe something went screwy in my data transfer?  Would you mind gisting the per-track scores (preferably zipped against filename)?

[2015-03-30 23:08] bmcfee commented on #119
Aha!  Some of these .onsets files are row-major and some are column major.

That would certainly do it.

[2015-03-30 23:09] bmcfee commented on #119
... if only someone would come along and solve annotation storage....

[2015-03-30 23:15] craffel commented on #119
https://gist.github.com/craffel/2c76e74589e99c3f1246#file-gistfile2-txt

They come from I think four or five different collections; this was in the pre-`mir_eval.io` days so I used `np.genfromtext` which did the trick on all of the files.

[2015-03-30 23:20] bmcfee commented on #119
Roger that.  I'm back up at 0.749, with almost identical parameters to those described before.  (Delta is 0.07 now.)

Thanks!

[2015-03-31 13:48] #119 closed

[2015-04-01 17:59] bmcfee commented on #180
da85614d9933853cb743bb771a2998277fb8e666 removes some redundancies, and retains `@cache` only on functions with non-negligible overhead.

[2015-04-01 17:59] #180 closed

[2015-04-02 04:26] elsdrm opened #181 "Python 3 support"
Could librosa make some adjustment for Python 3? (e.g. xrange -> range)

[2015-04-02 12:36] bmcfee commented on #181
This was already resolved in #86 ; the current master and development branches (and 0.4.0rc1) are py3 compatible.

[2015-04-02 12:36] #181 closed

[2015-04-18 19:30] VladMironov opened #183 "Problems with core.py/python3"
I've got small error in ipython while using second example.
Simple 'xrange to range' change fixed it.
[code]

[2015-04-18 19:34] bmcfee commented on #183
Can you try to reproduce this in 0.4-pre (or the development branch)?  I'm pretty sure this is already fixed.

The 0.3 branch was not entirely py3 compatible, but 0.4 onwards should be.

[2015-04-18 20:55] VladMironov commented on #183
Now this:
[code]
Obviously my audioread doesn't support .ogg
So I checked the rest of example "Audio effects and playback..." with old .mp3 and version 0.4 -- and it works perfectly!

Also ipython still shows me this warning:
[code]
That's all because I don't have module info from 2009:
[code]

[2015-04-18 21:11] bmcfee commented on #183
That sounds easily fixable.

Unless we move the example to wav, I don't think it's generally possible to have an example that works for any audioread install/combination of backends.  For now, I'm going to punt on this, but may revisit in #140 .

Ok!

Sounds like a problem with scikits.samplerate not having a correct `setup.py`.

It looks like all the problems in this thread are either already res

[2015-04-19 15:22] #183 closed

[2015-04-20 16:41] #177 closed

[2015-04-21 13:36] bmcfee opened #185 "waveplot should make curves label/legend-friendly"
This is non-trivial, see [here](http://stackoverflow.com/questions/14534130/legend-not-showing-up-in-matplotlib-stacked-area-plot).

[2015-04-21 13:49] bmcfee commented on #185
Alternately, wait for https://github.com/matplotlib/matplotlib/pull/3303 to make it into mpl proper and not worry about it.

[2015-04-22 16:38] bmcfee opened #186 "Make a root exception class"
Instead of raising ValueErrors everywhere, librosa should have its own exception classes.  This will help isolate and encapsulate errors raised in librosa from those raised elsewhere.

[2015-04-24 13:18] #186 closed

[2015-05-08 00:35] bmcfee opened #188 "Add reference for chroma_stft"
The STFT chroma implementation is based on chromagram_E from dpwe's example code.

We should add a back-reference to this in the documentation.

[2015-05-08 01:30] dpwe commented on #188
Chroma_e was meant as a straw man, it's very blurry. Isn't chroma_p (zero
out non local maxima) better?

  DAn.

On Thursday, May 7, 2015, Brian McFee <notifications@github.com> wrote:

[2015-05-08 01:41] bmcfee commented on #188
Fair point.

Looking back, I think this was actually ported indirectly by adapting from ronw's frontend package (which does not mask) and not from the matlab source.

At any rate, it would be trivial to add localmax masking as a post-processing step.  We can add this in the next minor revision (0.4.1); or if you feel it's really *really* important, we can squeeze it into 0.4.0 while @ebattenberg f

[2015-05-08 02:28] dpwe commented on #188
It's not really important.  I only think it should be better (well, we had
results in https://www.ee.columbia.edu/~dpwe/pubs/EllisP07-coversongs.pdf
but they don't quite address this point, and I have doubts about them).  It
would be interesting to actually compare the influence on some task.

  DAn.

On Thu, May 7, 2015 at 9:41 PM, Brian McFee <notifications@github.com>
wrote:

[2015-05-08 02:37] bmcfee commented on #188
In case anyone's dying to see the difference, here's a two-line hack to get the localmax behavior, and a visual comparison of the results:

http://nbviewer.ipython.org/gist/bmcfee/6dcb0cea0d986d51e5da

[2015-05-08 15:35] urinieto commented on #183
I'm also having problems with `samplerate` and Python 3. @VladMironov, how did you end up fixing that? Thanks!

[2015-05-08 16:32] VladMironov commented on #183
I used this python3.4 fork: https://github.com/gregorias/samplerate , I hope this would help.

[2015-05-08 16:34] urinieto commented on #183
Nice! This fixed it. Thanks a lot!

[2015-05-08 17:52] bmcfee commented on #183
I have a mirror of that fork at https://github.com/bmcfee/samplerate , which is what gets installed in the travis-ci build.

[2015-05-09 17:18] bmcfee commented on #188
Addendum before I close this one out:

It seems to me that the relevant comparison to make would be frequency localmax vs percussive suppression (hpss) as pre-processing steps to chroma extraction.  My hunch is that localmax might handle vibrato better, but hpss will be more stable.  This all might make for a nice demo notebook...

[2015-05-11 21:58] #188 closed

[2015-05-11 21:59] bmcfee opened #190 "Fix sphinx build"
Since upgrading to sphinx 1.3.1, the autosummaries for nested submodules (core.*, feature.*, util.*) are no longer working.

Anyone with more expertise than I feel like taking a crack at fixing this?

[2015-05-13 03:51] bmcfee commented on #190
This appears to be a sphinx problem, since scipy also fails now.

For the time being, I'll downgrade librosa doc builds to use 1.2.3, and maybe revisit this after the next sphinx release.

[2015-06-03 03:33] ruohoruotsi opened #194 "Time signature detection?"
Are there any plans to implement something like this?  *Time Signature Detection by Using a Multi Resolution Audio Similarity Matrix* (http://arrow.dit.ie/cgi/viewcontent.cgi?article=1080&context=argcon)

I'm putting the finishing touches on my implementation, and because I use librosa for beat & chroma work, thought it might fit if there's nothing else planned. Cheers.

[2015-06-03 13:50] bmcfee commented on #194
There are not currently plans to implement this, but it sounds interesting.

Depending on how specific (and effective) the implementation is, it may or may not be appropriate for inclusion in the main library.

As a side note: I've been thinking about reigning in the scope of what exactly librosa does (and should do).  I'd like to keep the core library relatively small and focused on low-level bui

[2015-06-03 14:04] dpwe commented on #194
I think when something works really well, and there's not variation of
opinion about how to implement it, it's a service to include it in the
library. HPSS fits this in my opinion.

But when it's something that's still very much an open research topic
with competing solutions, it seems partisan to start picking and
choosing ones to include in the library.  AFAIU time signature
detection is still i

[2015-06-03 14:15] bmcfee commented on #194
@dpwe well said. One caveat is that if competing solutions tend to use and combine the same components (eg, recurrence matrices) then it's useful to include these core functions.  I don't know anything about meter detection, but I suspect that there might be useful components that we're currently missing.

For the record: something like onset detection or beat tracking also fits more into the latt

[2015-06-03 20:45] ruohoruotsi commented on #194
okay, I'll submit a pull request when I'm ready, even if its more useful as "building blocks" used by competing solutions. Great discussion on the merits, etc and great work again librosa! cheers.

[2015-06-03 20:45] #194 closed

[2015-06-05 14:42] bmcfee opened #197 "Is our octave numbering off by one?"
Just sanity-checking against [Scientific pitch notation](http://en.wikipedia.org/wiki/Scientific_pitch_notation), which puts 'C4' at midi note 60 (261.63 Hz).  Librosa's octave calculation differs by one:

[code]

Not sure how this snuck in, but I think we should fix it before 0.4.  Anyone object?

[2015-06-05 17:08] apiszcz opened #199 "decompose question frequency range."
I have a signal capture at 8KHZ so the most I can expect is ~4KHZ of frequency content. When I follow the librosa decompose example (v0.4rc2) the plot and data extends to 11025HZ. Is there a recommended parameter path either for the stft or elsewhere to only decompose to 4KHZ? Thanks.

[2015-06-05 19:31] bmcfee commented on #199
`librosa.display.specshow` accepts a sampling rate parameter, which is used for setting axis labels.  The default is 22050 (as everywhere else in librosa), but you can override this by doing something like the following:
[code]

This works as expected on my installation.  If it's behaving differently for you, please post some example code that behaves incorrectly, and we can refile this as a bug r

[2015-06-05 19:39] #197 closed

[2015-06-05 19:42] bmcfee commented on #150
#196 gets us up to 99%.  I'll close this out after merging.

[2015-06-06 20:53] ebattenberg opened #200 "Skip tests if missing data?"
I recently tried to run the unit tests from my local machine, but it looks like some of them require audio data files that aren't a part of the repo.

Would it be a good idea to skip tests that require external data if that external data is missing?  Or is skipping tests dangerous, and we should encourage contributors to obtain the audio data themselves?

[2015-06-06 21:10] apiszcz commented on #199
Perfect, thanks, setting sr for specshow works. I perfomed the stft, etc
with sr=8000 but not specshow.
​

On Fri, Jun 5, 2015 at 3:31 PM, Brian McFee <notifications@github.com>
wrote:

[2015-06-06 21:44] bmcfee commented on #200
Really?  which ones?  All of the test fixtures should be in the git repo, though not in the package distribution.  Given how the whole travis setup works, I'd be surprised if there were missing fixtures.

[2015-06-06 21:45] #199 closed

[2015-06-06 21:47] #150 closed

[2015-06-08 14:59] bmcfee opened #202 "Conda packaging"
Providing a conda distribution might save some headaches at install time, especially when it comes to codec dependencies.

[2015-06-10 18:52] ebattenberg commented on #200
It just looks like there's a missing `data` top-level directory that's supposed to contain test wavs (e.g. `test1_22050.wav`).

[2015-06-10 18:54] ebattenberg commented on #200
Oh yeah, you mentioned some Matlab script that makes the test data.

[2015-06-10 19:36] bmcfee commented on #200
How are you running the tests?  The following ought to work:
[code]

The `data` directory lives under `tests`, and if you're in a clone of the repo, it should work.

[2015-06-10 22:01] ebattenberg commented on #200
I see.  It looks like that works.  I was running `nosetests --with-coverage tests/` from the clone root before as is suggested in `CONTRIBUTING.md`.

I guess I needed the `-w` on there.

[2015-06-10 23:40] bmcfee commented on #200
Derp!  Good call; I should make the contributing doc more precise.

[2015-06-11 00:13] dawenl commented on #200
There are a couple of ``scikit-learn`` in ```CONTRIBUTING.md``` that should be replaced with ``librosa``.

[2015-06-11 14:01] bmcfee commented on #200
Hah!  Even more embarrassing.  I'll fix this and revise the instructions.

[2015-06-15 16:28] bmcfee opened #203 "Allow decompose to skip fit"
``librosa.decompose.decompose()`` always applies the `fit_transform()` method of the transformer object.

Since the user can supply a custom `TransformerMixin` object, which may already have been fit, it makes sense to allow the user to specify whether the basis should be fit during decomposition.

In the code, this would translate to

[code]

This introduces potential incompatible configurations,

[2015-06-15 23:39] craffel opened #204 "User-settable/gettable global default parameters"
Sorry  if this is addressed in another issue, I wasn't able to find reference to it although I remember it being discussed.  Now that most of the parameters are pretty standardized (`sr=22050`, `n_fft=2048`, `hop=n_fft/4`, etc), it would be cool if it was easy to retrieve these global default parameter values, or better, to set them by hand.  This would make user code potentially less verbose, but

[2015-06-16 14:25] bmcfee commented on #204
I like the idea, and it's something that's been in the back of my head for a while.

Do you know of any good way to do this, consistently, without wrecking the docstrings or call signatures?

[2015-06-16 14:46] craffel commented on #204
No, I don't.  The only thing I could think of is some kind of hack where you have a decorator which replaces keyword arguments with the config values based on their name... something like
[code]
Then you could still define a function with the normal defaults and it would show up as normal in docs/function code/etc., but they would be replaced by the global defaults.  Not proposing this as a good s

[2015-06-17 13:27] urinieto opened #205 "Setting threshold for trimming detected beats"
I think it would be useful to parametrize the weight of the threshold in the `__trim_beats` function ([here](https://github.com/bmcfee/librosa/blob/master/librosa/beat.py#L428)).

Thus, users could potentially select the "strength" of the beats they want to trim. Or maybe `librosa` already does that and I just couldn't find it?

[2015-06-17 13:33] bmcfee commented on #205
Right now, the best way to do that is to disable trimming and then do it manually after the fact.

The trimming logic is already a little heuristic imo, it might be better to make trimming a pluggable function?  That way, you could toss in your own threshold calculations, or set it to `None` to disable.

Since that would constitute a rather severe API change, it will have to wait until the next ma

[2015-06-17 13:48] urinieto commented on #205
Yes, that sounds good to me. Also, I didn't expect this to change in the current version, just something to think of for future releases.

Thanks titan.

[2015-06-18 18:52] bmcfee opened #206 "onset strength enhancements"
The current onset strength implementation provides basic spectral flux.  It's not too hard to generalize this to support the operations used in Böck and Widmer's [superflux](http://dafx13.nuim.ie/papers/09.dafx2013_submission_12.pdf) method.  Namely:

* [x] add a lag parameter for the spacing between differenced cells.  Instead of subtracting the previous cell (`lag=1`) go back further.  (This is

[2015-06-18 19:00] bmcfee commented on #204
The decorator hack seems like the only viable approach here, but I doubt it can ever be made safe or dynamically consistent.

We might be able to use functools to mangle the docstrings/call signature when the function is first defined, kind of like how the `cache` object currently works.  I can see two downsides though:

* The defaults object would have to be constructed before all function defini

[2015-06-18 19:07] bmcfee opened #207 "display.waveplot efficiency rewrite"
[cc @craffel ]

The `waveplot` function could be more efficient by side-stepping the downsampling operation.  Instead, we can simply `util.frame` the signal(s) to the desired sampling rate, and use `np.max` directly on the columns (without `abs`) to get the amplitude envelope(s) in-place without copies or resampling.

[2015-06-18 19:08] craffel commented on #204
Well, I wasn't necessarily seeing the call signatures and docstrings being always correct/consistent as being a requirement, especially if there is note somewhere saying that once global config values are set, the docstrings/call signatures may be inconsistent.  If the user were to set a global parameter, they probably would expect that.  I'm not advocating for this, of course...  Otherwise, yes,

[2015-06-18 19:22] bmcfee commented on #204
That seems like asking for trouble, especially when it comes to users of ipython/jupyter/other IDEs that dynamically render this stuff.  I know that I would find it really confusing.

Going back to the original post: is there a particular use case that you have in mind?  I'm all in favor of reducing careless user errors, but I'm having a hard time coming up with other cases.

An idea for a comprom

[2015-06-18 19:39] craffel commented on #204
Yeah, I don't think it's a good solution.

Sure:
* You have a large corpus of audio files sampled at a sampling rate other than 22050 Hz, and you want to process them all with librosa.  If you update all of the appropriate spectral parameters, you can avoid resampling (or maybe you have things at 44.1 kHz and you care about very high frequencies for some reason).  Doing this without defaults would

[2015-06-18 19:49] bmcfee commented on #204
This, I think, is better handled by the application developer providing wrapper functions with the parameters self-contained.

That's certainly doable, since it's a read-only operation.  I see now downside in adding that functionality (as a named tuple or something).

Sure, but there's no preventing this in general; there's no telling what users may or may not forget to do.  I think it's generally

[2015-06-18 20:09] craffel commented on #204
I'm not sure what you mean.

For sure.  It's currently doable with `inspect.getargspec`, but that's kind of ugly from a user's point of view...

[2015-06-18 20:31] bmcfee commented on #204
I suppose I mean relying on the user to do it right.  Maybe I don't fully understand the use case you described, but it seems like if the user wants custom parameters, it's up to the user to specify them?  I usually do this by writing a single function that produces all analysis of a particular track.  This way, all the parameters are localized at one point of the code.

Not really; not every func

[2015-06-19 14:22] #200 closed

[2015-06-19 14:36] bmcfee opened #208 "CQT bug when hop_length != 2^k"
[paging @ebattenberg ]

When the hop isn't a power of two, the bottom octave(s) can fall out of alignment.

I came across this one while experimenting with different hop lengths in CQT.  Here's a [notebook](http://nbviewer.ipython.org/gist/bmcfee/c6aa2ab3d4823f69a4b5) to reproduce the error.

I think the error here is requiring `hop_length >= 2^k` (for `k >= num_octaves`).  Instead,
it seems to me

[2015-06-22 13:18] bmcfee commented on #207
fixed by #209

[2015-06-22 13:18] #207 closed

[2015-06-22 15:34] craffel commented on #207
:+1:

[2015-06-22 20:11] ebattenberg commented on #208
I think that sounds like a reasonable way to deal with it in the short term.  We definitely want to ensure that the initial hop_length can be evenly divided by two as many times as we need to.

[2015-06-22 20:15] ebattenberg commented on #208
There's also the option of round the input hop_length to the nearest integer that satisfies the above constraint, but that may produce unexpected results for the user who is expecting a specific hop size.  Maybe issue a warning when the criteria isn't met and do then do the rounding?  Though, I think raising a `ValueError` with a helpful message (maybe suggested nearby values of `hop_length` --bot

[2015-06-23 12:23] bmcfee commented on #208
Exactly.  I'd prefer to not change hops, so that we can guarantee that different analyses with the same hop length and sampling rate stay aligned.

Agreed.  I'll make the PR later today.

[2015-06-23 13:15] bmcfee commented on #208
Another source of error here is the that rounding errors cascade by the recursive division.  We could get maybe a little more precision out of dividing the original hop by `2**k` instead of doing it dynamically, but I'm not sure if this would introduce jaggies or screw things up in the early downsampler.

[2015-06-23 19:35] bmcfee commented on #202
If we end up making a binstar channel, it would be helpful to include libsamplerate as well.

[2015-06-23 20:15] #208 closed

[2015-06-24 19:07] conormdurkan opened #212 "audioread dependency?"
I'm using Conda to install librosa from [here](https://binstar.org/HCC/librosa), and even though I've got audioread installed, it gives me a missing dependency error. Any ideas?

[2015-06-24 20:33] bmcfee commented on #212
Can you post a log of the error message?  It's generally difficult to debug without at least that much.

A couple of additional things:

* I don't maintain the conda channel you're using, and don't know the person that does.
* The librosa on the conda channel is outdated.  You probably should upgrade to 0.4.0 via pip.
* All else being equal, it sounds like your problem stems from audioread, not li

[2015-06-30 13:49] bmcfee opened #214 "Changes in development practices: branch against master"
From 0.4.0 onward, I'd like to standardize our development practices a bit more than we have in the past.

Specifically, I'm thinking we should make all PR's with respect to master now, and not have a dedicated catch-all "development" branch.  (The dev branch made sense when things were still being hashed out, but I think it's mature enough now that we don't need it anymore.)

Any objections?

[2015-07-01 18:49] ebattenberg commented on #208
Another issue is that the actual number of times we downsample could be more than the number of octaves if early downsampling comes into play.

[2015-07-01 19:53] ebattenberg commented on #208
Maybe we should issue a warning whenever the current `hop_length` doesn't evenly divide whenever we downsample.  That way, we'll at least be aware of all the possible ways this problem could occur.  Then we could address them (e.g., don't do early downsampling if it wouldn't allow the even division of the hop length at a later time.)

[2015-07-01 23:41] ebattenberg commented on #208
Also, when we do two octaves of filters before downsampling, we need the `hop_length` to support one fewer octave.

[2015-07-02 22:07] stevetjoa opened #216 "Enhancement: Add an audio marker to onsets like essentia.standard.AudioOnsetsMarker"
Essentia has this handy feature, [AudioOnsetsMarker](http://essentia.upf.edu/documentation/reference/std_AudioOnsetsMarker.html), which adds a beep to the location of each onset. I've found the auditory cue as helpful as the visual cue, if not more so, for assessing the correctness of onsets.

For example, see the last cell of [this IPython notebook](http://musicinformationretrieval.com/onset_dete

[2015-07-04 18:25] bmcfee commented on #216
This function is already implemented in [`mir_eval`](https://github.com/craffel/mir_eval/blob/master/mir_eval/sonify.py#L11), but we can certainly duplicate it here.

[2015-07-05 18:34] stevetjoa commented on #216
Ah sorry about that, I do see that now in `mir_eval`. Feel free to resolve as you wish. Perhaps a more prominent example in the docs might help (in which I can definitely contribute).

[2015-07-06 16:36] bmcfee commented on #216
Well, I think you're right that this is a useful feature to have, and its utility isn't limited to evaluation, so it makes sense to include some version of it in librosa.

I'd like to generalize the interface a bit in a couple of ways:
- supply beep marker locations in time or in frames
- have a user-specified beep frequency

[2015-07-06 23:24] stevetjoa commented on #216
I'd be happy to submit a pull request for that. Where do you think it should live, e.g. `librosa.sonify.clicks`, or `librosa.display.clicks`, or `librosa.eval.clicks`, etc.?

[2015-07-07 00:04] bmcfee commented on #216
Good question.  I'd rather not add a separate submodule just for one function, but none of the existing ones really seem appropriate either.

Maybe it can go in some submodule of `core` and just be `librosa.clicks`?  What do other folks think?

[2015-07-07 16:31] #203 closed

[2015-07-07 19:28] bmcfee commented on #214
A week with no objections = motion passed.

[2015-07-07 19:28] #214 closed

[2015-07-07 21:57] bmcfee commented on #157
I took a quick cut at cythonizing stft today.

A naive, frame-oriented cython implementation gets almost as fast as our current batched (pure-python) implementation.

[2015-07-07 22:14] bmcfee opened #218 "only require integer sampling rate operations when necessary"
[Issue derived from #208]

The only time we care about deriving integer values from sampling rates are when generating frame/sample indices.  Otherwise, floating point values are fine.

[2015-07-09 17:24] dsiah opened #219 "No Backends"
When running the example I receive this error
[code]

Any Ideas as to what could be causing this? I am running the example in Ipython notebook and OSX Yosemite 10.10

[2015-07-09 17:33] #219 closed

[2015-07-09 18:00] bmcfee commented on #219
Were you able to resolve this?

I suspect the problem is a missing ogg vorbis codec for audioread.  Installing ffmpeg or gstreamer (with plugins) should fix this for you.

.wav files should work out of the box, but we don't ship the demo track in wav.

[2015-07-09 21:10] dsiah commented on #219
I tried ffmpeg which resulted in python hanging when I try to load that sample Ogg file. I will experiment and see if I can fix it, but the reason for failure must  have been that codec.

I will avoid or convert files that I am analyzing from ogg for now.

[2015-07-09 21:48] bmcfee commented on #219
That may just be resample being slow, rather than hanging.  What happens if you do:

[code]
?

[2015-07-09 22:01] dsiah commented on #219
Success :+1: thank you.

[2015-07-11 21:24] edne opened #220 "Real time analysis"
Is it (or will be) possible to use Librosa to make real-time audio analysis, reading the audio not from a file but from a stream (like from Jack on Linux or from a sound card input)?

Probably it can be done working on little frames of some thousands of samples, but I have no idea of time needed for processing and if it can be done at a decent rate...

[2015-07-11 22:19] bmcfee commented on #220
Sure.  The simplest thing right now is to use [PyAudio](https://people.csail.mit.edu/hubert/pyaudio/) to generate audio frames and use a callback to do the analysis.  This works, but the latency can be pretty bad, and you may end up dropping frames.  Depending on your application, it may be good enough: see [this post](http://blog.francoismaillet.com/epic-celebration/) for an example.

One issue h

[2015-07-12 06:39] edne commented on #220
Ok, thanks!

[2015-07-12 06:39] #220 closed

[2015-07-12 07:56] bmcfee opened #221 "tempo and rhythm enhancements"
[cc @mprockup]

The current functionality for tempo and rhythm is pretty basic; we should do something about that.

#210 improves the basic onset strength implementation.  From that, we can add a few interesting pieces, such as tempo-invariant rhythm descriptors via the Mellin scale transform (see [here](http://www.csd.uoc.gr/~hannover/MMILab-Andre_files/HolzapfelIEEEScale.pdf)), and some of the m

[2015-07-12 16:48] dpwe commented on #221
May I take a stab at demystifying the Mellin transform?

The idea is to represent the autocorrelation on a log-lag time scale
(it has to be the autocorrelation, because we need a fixed zero-time
reference).  As with log-frequency, this mapping transforms a
*scaling* of the linear axis (i.e., a tempo change) to a *shift* in
the log-scale axis.  The Mellin transform then takes the Fourier
transform

[2015-07-12 16:49] dpwe commented on #221
By which I meant to say: I think log-lag autocorrelation is a
generally useful and intuitive representation, much like log-frequency
spectrum.

  DAn.

On Sun, Jul 12, 2015 at 9:48 AM, Dan Ellis <dpwe@ee.columbia.edu> wrote:

[2015-07-12 19:33] bmcfee commented on #218
It appears that we don't actually force type on `sr` anywhere; this is merely a cosmetic documentation issue.

Everywhere we generate array indices from `sr`, there's an explicit type conversion already.

[2015-08-04 00:43] ebattenberg opened #222 "librosa overwrites default colormap"
Importing librosa overwrite's matplotlib's default colormap.

[code]

Output is:
[code]

I looked into it briefly and couldn't figure out where this is happening.

[2015-08-04 12:51] bmcfee commented on #222
This is a side effect of importing seaborn in librosa.display.

[code]

I took a quick skim through the seaborn source, and I don't see any way to disable this behavior since it calls `set()` in `__init__.py`.

I agree that this side effect is undesirable, and we have a couple of options to circumvent it:

1. Drop the seaborn dependency.  We're only using it to get cubehelix, which is nice but non

[2015-08-04 22:16] ebattenberg commented on #222
I'd vote for 1. but that's because I don't use any of the `display` functionality and I'm in favor of fewer non-essential dependencies.  It may take a long time for the majority of people to benefit from 3.  Number 2 is a worthwhile hack in the meantime if we're not willing to do number 1.

[2015-08-05 11:50] friskit-china opened #223 "How to write wav file of PCM format?"
Hello,

Recently, I need librosa to process some audio file. When I use "librosa.out.write_wav()", I got a wav file with format of "WAVE_FORMAT_IEEE_FLOAT". But I need the format of "WAVE_FORMAT_PCM".

Could you please tell me how to do that?

(sorry, I'm not good in English)

[2015-08-05 12:42] friskit-china commented on #223
I find a way to do that.

Use pysndfile which provide a lot of ways to save wav file.

for example
[code]

[2015-08-05 22:28] dpwe commented on #223
Is that on purpose, the WAVE_FORMAT_IEEE_FLOAT thing?  It strikes me as the
opposite of useful.

"But it avoids having to address the issue of scaling and/or clipping."

"Your majesty is like a dose of clap."

  DAn.

On Wed, Aug 5, 2015 at 4:50 AM, friskit-china <notifications@github.com>
wrote:

[2015-08-06 14:44] bmcfee commented on #223
Nope!  You beat me to the punch, but I'd recommend using pysoundfile if you want maximal control over the encoding of your output.

The librosa.output function is just a convenience wrapper for scipy's wav writer, so any odd behavior is up to scipy, not librosa.

[2015-08-06 14:44] #223 closed

[2015-08-06 14:49] bmcfee commented on #222
You totally should use the display functionality though :)

I like option 2, since it keeps all functionality and eliminates unintended side-effects.

[2015-08-06 16:26] #222 closed

[2015-08-09 22:52] dpwe commented on #67
Since this is the page you get if you Google "librosa scikits.samplerate", it would be a good place to describe how to resolve this dependency.

For me (Ubuntu 14.04) the following:

sudo apt-get install libsamplerate0-dev
sudo pip install scikits.samplerate

.. seems to have done the trick.

[2015-08-12 19:08] #216 closed

[2015-08-12 19:39] #218 closed

[2015-08-13 16:51] bmcfee opened #226 "multi-band onset strength"
#221 will require multi-band onset strength calculation.  Since the `onset_strength` is quasi-feature-agnostic, the interface for making this happen isn't 100% obvious.

I think this can be done with something like the following:

[code]

where `channels` specifies the (left) edges of the target rows in a fashion similar to `feature.sync`.  `odf_multi` will then duplicate [this region](https://git

[2015-08-13 17:07] bmcfee opened #227 "Sequester nested kwargs by target function"
Several functions use a catch-all `**kwargs` to handle pass-through arguments to nested function calls.

This works well enough when the pass-through is externally obvious, but it's generally bad style, and can get unwieldy when there are multiple natural destinations for different keyword arguments.

seaborn handles this pattern relatively nicely by skipping the `**` syntax and leaving the pass-t

[2015-08-13 17:20] bmcfee opened #228 "feature.sync support slice objects as well as frame markers"
The `feature.sync` function currently interprets `frames` as an array of boundaries, between which a feature matrix is aggregated by a ufunc.  This interface does not directly permit strict sub-sampling of the data, which might be useful in some scenarios.

An alternative, but approximately backwards compatible approach, would allow the user to supply aggregation points as a list-like of `slice` o

[2015-08-13 17:26] bmcfee commented on #226
re: #228 , `channels` should also support a list-like of `slice` objects.

[2015-08-13 17:30] bmcfee commented on #226
An alternative implementation of this would simply add ``channels`` as a parameter to `onset_strength`.  This might end up being more efficient, but would require an API change since the default output shape would be `(1, t)` instead of `(t,)`.

[2015-08-14 13:33] bmcfee commented on #228
To make this happen, we should also add a `util` function that converts an array of event boundaries into a list of slice objects.  This can also be used in #226 for vertical aggregation.

[2015-08-14 16:25] bmcfee commented on #228
Moving to slices should also allow `sync` to support synchronization along an arbitrary axis.  It can then be used directly as a subroutine of #226.

[2015-08-14 18:21] bmcfee commented on #228
Since `sync` can now apply to generic ndarrays, it should migrate from `feature` to `util`.

The old API for `sync` should be removed in 0.5.

[2015-08-14 20:23] bmcfee commented on #226
This is now implemented in #229.

[2015-08-14 20:30] bmcfee commented on #228
Remaining to-do:
- [ ] support slice objects on input, instead of always constructing them from index markers

[2015-08-17 18:23] bmcfee commented on #228
resolved by merging #229

[2015-08-17 18:23] #228 closed

[2015-08-17 18:23] bmcfee commented on #226
resolved by merging #229

[2015-08-17 18:23] #226 closed

[2015-08-17 18:23] bmcfee commented on #221
multi-band onsets are now in place after merging #229.

[2015-08-18 17:14] bmcfee commented on #206
resolved by merging #210

[2015-08-18 17:14] #206 closed

[2015-08-19 14:10] bmcfee commented on #221
Is there a canonical parameterization for the (discrete) scale transform?

I have an implementation that basically works -- as in, produces comparable figures to those in [the paper linked above](http://www.csd.uoc.gr/~hannover/MMILab-Andre_files/HolzapfelIEEEScale.pdf) -- but there appear to be a few different ways to specify the parameters.  Specifically, we need to set:

* minimum lag
* maximum

[2015-08-19 15:07] dpwe commented on #221
I think the natural thing is to set min_lag, bin-to-bin ratio, and number
of bins. Harder to be off-by-one and end up missing all the integer steps.

Bin-to-bin ratio can be parametrized as bins per octave, for extra
friendliness to those who think that way (and compatibility with cq filter
bank syntax, maybe?)

  DAn.

On Wednesday, August 19, 2015, Brian McFee <notifications@github.com> wrote:

[2015-08-19 16:07] bmcfee commented on #221
Seems like reason enough for me!

[2015-08-20 14:16] bmcfee commented on #221
Note: we'll most likely need to introduce a `feature.rhythm` submodule to separate out dependencies for feature functions that depend on onset strength calculation.

[2015-08-20 19:10] bmcfee opened #232 "Generalize segmentation functions to support axis="
Now that `util.sync` demonstrates a pattern for this kind of thing, it should be relatively easy to extend the following functions similarly:

- [x] `segment.agglomerative`
- [x] `segment.subsegment`
- [x] `segment.recurrence_matrix`
- [x] `segment.recurrence_to_lag`
- [x] `segment.lag_to_recurrence`

~~Aside from being generally more elegant, this will also make it possible to transparently suppo

[2015-08-20 20:03] rabitt opened #233 "RuntimeWarning in pitch.py"
I'm running into divide by zero warnings periodically while running [this script](https://github.com/bmcfee/laplacian_segmentation/blob/master/code/segmenter.py) in batch

[This line](https://github.com/bmcfee/librosa/blob/master/librosa/core/pitch.py#L249), this error:
[code]

[2015-08-20 20:17] bmcfee commented on #233
That's pretty strange: the clipping there should be enough to avoid div-by-zeros.  @craffel care to chime in?

@rabitt can you provide an example clip that triggers this, or at least a traceback?  I suppose it's coming from tuning estimation in CQT, but it would help to know what exactly the signal is.

[2015-08-20 20:22] rabitt commented on #233
this is all I've got for you :disappointed: :
```[1/5] loading audio```
```[2/5] Separating harmonic and percussive signals```
```[3/5] detecting beats```
```[4/5] generating CQT```
[code]

[2015-08-20 20:31] bmcfee commented on #233
Sounds like you get to go hacking around the guts of piptrack!

I'd recommend saving off `S`, `avg`, and `shift` matrices for offline probing (prior to that line).

I wonder if it's something like `SMALL_FLOAT < shift < division underflow threshold`.  That shouldn't happen, in any sane universe, but it's the only thing that makes sense.

Alternately, you could try raising `SMALL_FLOAT` until the w

[2015-08-20 20:48] bmcfee commented on #221
The lagged difference approximation taken in the direct scale transform has been bugging me since I first read about it.  After digging up the derivation (eq. A3 [here](http://www.sciencedirect.com/science/article/pii/S0888327000912962)), I now see why: it's separating the integral by assuming `f(e^t)` is constant for `t = [ln(kT), ln((k+1)T)]`.  This works out fine for `T=1` (minimum lag of one s

[2015-08-20 21:04] craffel commented on #233
This has happened to me too!  In a similar setting - computing CQTs (and therefore lots of tuning estimations) for lots and lots of audio files.  I went digging around for a minute and concluded that the universe wasn't sane, and then proceeded to ignore it.  I am all out cores to debug this at the moment, though. If I see it again, I will be more diligent.

[2015-08-20 22:35] bmcfee commented on #233
Aha! This can happen if `shift==-1`, so that `shift + (shift < util.SMALL_FLOAT)` cancels out.

From what I can tell, there's no reason that `shift` can't be negative in general, so that threshold test is incorrect, and should probably be replaced by `shift + (np.abs(shift) < util.SMALL_FLOAT)`.

@rabitt can you test that change out, and if it works, submit a PR?

[2015-08-20 22:49] rabitt commented on #233
@bmcfee sure, will try it out tomorrow first thing

[2015-08-21 17:53] bmcfee commented on #233
side note: this becomes easier to catch after `np.seterr(divide='warn')`.

[2015-08-25 13:03] bmcfee commented on #221
After a bit of experimentation, I think we should skip the Williams & Zaluba algorithm, and instead use DeSena's fast Mellin transform algorithm.  There are a few reasons for this:

* FMT is asymptotically faster, since it's FFT-based rather than explicitly constructing an O(n^2) basis
* The parameters are simpler to grasp: interpolation mode and over-sampling factor, rather than C_max/bin-spacing

[2015-08-25 13:16] bmcfee opened #236 "autocorrelate should accept an `axis` parameter"
This would make `autocorrelate` a bit simpler to use for time-varying rhythmic features #221.

It will require replacing the call to `scipy.signal.fftconvolve` with a more direct implementation.

[2015-08-25 15:31] bmcfee commented on #236
Implemented in pr #237

[2015-08-25 15:47] #236 closed

[2015-08-25 18:40] bmcfee commented on #232
One complicating factor on this issue is that sklearn will only accept two-dimensional inputs.

I think the sane thing to do here is permute `axis` to position 0, flatten the remaining dimensions, and proceed as usual.  This can wreck the structure of features when ``X.ndim > 2``, but in most cases this doesn't matter since lp metrics do not care about dimension ordering.

If a user wants to suppo

[2015-08-26 12:30] bmcfee commented on #232
Resolved by merging #239

[2015-08-26 12:30] #232 closed

[2015-08-27 13:33] bmcfee opened #240 "Transfer ownership to an organization"
It's maybe a bit past the time that we should do this, but we should definitely do this.

[2015-08-28 14:36] dpwe commented on #240
SGTM.  Let me know if you need any help identifying or talking to the
right people at an organization; I'm guessing NYU is the right choice?

  DAn.

On Thu, Aug 27, 2015 at 9:33 AM, Brian McFee <notifications@github.com> wrote:

[2015-08-28 14:39] bmcfee commented on #240
Oh, I meant a github organization.  I'm thinking an org called "librosa" to house all related projects:
- librosa itself
- parameter optimization repo
- anything relating to distribution (eg, stuff to manage a conda channel #202 )
- higher-level libraries built on top of librosa, etc etc...

This way, they won't all live under `github.com/bmcfee`, thereby reducing our bus factor.

I'm open to nami

[2015-08-28 14:43] dpwe commented on #240
librosa is fine by me.  The whole association to LabROSA is a bit
tangential at this point (I mean I feel a bit uncomfortable about the
glory that LabROSA might inherit from this, when it really all belongs
to you) but I think it's better to keep it as it is.

  DAn.

On Fri, Aug 28, 2015 at 10:39 AM, Brian McFee <notifications@github.com> wrote:

[2015-08-29 18:35] rabitt opened #241 "unit tests fail for scipy version 0.13.2"
First failing test:
[code]

[2015-08-29 18:42] bmcfee commented on #241
This comes from #146 ; we need to upgrade the scipy minimum version requierment.

[2015-08-29 20:10] #233 closed

[2015-08-30 00:16] bmcfee opened #242 "unit tests for piptrack"
Somehow, this one slipped through the cracks.  (There was implicit integration testing via cqt, but it should still be tested independently.)

[2015-08-31 14:44] bmcfee commented on #241
@rabitt could you dig up the exact error message that was reported?  I'd like to be able to specify the correct minimum scipy version to avoid this failure.

[2015-08-31 16:47] bmcfee commented on #242
fixed by #243

[2015-08-31 16:47] #242 closed

[2015-08-31 19:42] bmcfee commented on #241
[code]

[2015-08-31 20:05] bmcfee commented on #241
[Paging @ebattenberg ]

This problem is not due to the scipy version, but rather derives from using `scipy.resample` inside `hybrid_cqt`.  I think this error derives from the test fixture (an impulse train), and not the implementation itself.

@ebattenberg : is there a reason we used an impulse train here?  Changing https://github.com/bmcfee/librosa/blob/master/tests/test_constantq.py#L87-L89 to a

[2015-08-31 20:39] smasfara opened #244 "Usage of piptrack"
Hi,

I'am trying to use librosa.core.piptrack.
librosa.core.piptrack(y), with y an audio file of approximately 255s gives me an output of an array with shape (2049,5637) with default sampling rate.
I thought 5637 was the number of frames in the file but librosa.core.frames_to_time(5367)=130s
What am I missing?

[2015-08-31 22:04] bmcfee commented on #244
Good catch!

When the input is a waveform, `piptrack` uses a default `n_fft=4096` and then infers `hop_length=1024`, so the hop does not match up to the default parameters in `frames_to_time`.

If you explicitly set the frame and hop lengths, everything should line up as you expect.

This, to me, looks like a mistake on our end in that we missed standardizing the defaults for `piptrack`.  I'll mak

[2015-08-31 22:05] bmcfee opened #245 "standardize piptrack default parameters"
Somehow, `piptrack` has a default `n_fft=4096` instead of `2048` (standard elsewhere in librosa).  We should fix this.  (See #244 for why this is confusing.)

[2015-09-01 11:05] bmcfee commented on #245
Fixed by #246

[2015-09-01 11:05] #245 closed

[2015-09-01 11:05] bmcfee commented on #244
Just a quick update: PR #246 fixes this and has been merged.

[2015-09-02 14:41] smasfara commented on #244
It works perfectly now! Thanks for your quick reply!

[2015-09-02 14:41] #244 closed

[2015-09-04 12:16] vedhas commented on #165
https://bmcfee.github.io/librosa/librosa.html?highlight=cqt#librosa.core.cqt says "This implementation is based on the recursive sub-sampling method described by Schoerkhuber and Klapuri, 2010.
Schoerkhuber, Christian, and Anssi Klapuri. "Constant-Q transform toolbox for music processing.” 7th Sound and Music Computing Conference, Barcelona, Spain. 2010."

If that's the case, and if https://code.s

[2015-09-04 13:12] bmcfee commented on #165
Nobody's volunteered to write it (yet), but pull requests are welcome!

Our implementation is based on the algorithm described in the paper, but is not bit-for-bit equivalent to the CQT toolbox implementation for a variety of reasons.  Consequently, copy-pasting their code and translating the matlab statements into python probably won't work.

[2015-09-04 14:16] bmcfee opened #248 "Documentation figures should have `style='ticks'`"
This is a one-liner fix to make the plots easier to read, but will require some careful auditing to make sure that everything remains legible afterwards.

[2015-09-04 15:36] bmcfee opened #249 "onset_strength gives incorrect shape when centered"
`onset_strength_multi` should truncate the signal to match `S.shape[1]` when `centering=True`; it occasionally gets out of sync due to the left-padding.

[2015-09-04 15:38] bmcfee opened #250 "'centering' -> 'center' in onset_strength"
Just for consistency, we should fix the terminology here.

Since `onset_strength_multi` is a new function, we don't need to support `centering` in the API.  `onset_strength` should support both for now.  We can remove the old parameter in 0.5.

[2015-09-04 18:35] #249 closed

[2015-09-04 18:35] bmcfee commented on #250
closed by #251

[2015-09-04 18:35] #250 closed

[2015-09-04 19:40] bmcfee opened #252 "Remove deprecated features"
Deprecated
- [ ] core.ifptrack
- [ ] feature.logfsgram
- [ ] filters.logfrequency
- [ ] output.frames_csv
- [ ] onset_strength(centering=)
- [ ] segment.structure_feature
- [ ] scikits.samplerate
- [ ] FeatureExtractor
- [ ] cqt(aggregate=)
- [ ] cqt(real=)

Moved
- [ ] core.peak_pick
- [ ] core.localmax
- [ ] feature.sync
- [ ] feature.chromagram

[2015-09-04 20:14] #248 closed

[2015-09-04 23:57] wangsix opened #254 "input_file closed in librosa.core.audio.load() - Ubuntu 14.04"
When loading mp3 files with `librosa.core.audio.load()`, sometimes there are some files throwing attribute errors in line 153 in audio.py,

`AttributeError: 'MadAudioFile' object has no attribute 'mf''`.

I checked my audioread and librosa version. Both are up-to-date. I dig further into the code and indent one level the code from line 150 to line 165 in audio.py so that input_file is not closed(?

[2015-09-05 00:25] bmcfee commented on #254
Aha, good catch!  Indeed, we're using `input_file` outside of its context scope [here](https://github.com/bmcfee/librosa/blob/master/librosa/core/audio.py#L153).

This could make sense if audioread is  tearing down the `MadAudioFile` object after its context exits.  It's a bit strange that I don't see this error on other backends, and it makes me suspect that some audioread backends can leak state

[2015-09-05 00:29] wangsix commented on #254
Thanks for the quick response. When I run the codes on my Mac with the mp3s there were no errors (mp3s from SALAMI internet archive). The errors only happened when I ran the same codes on a linux machine which processed all the Beatles mp3 (isophonic) but failed on some of the mp3s from SALAMI internet archive.

[2015-09-05 00:35] bmcfee commented on #254
Yeah, because the two environments are using different backends, which audioread is hiding from librosa (and you).  If you want to be a good citizen ( :smile: ), I'd suggest constructing a minimal example that demonstrates the behavior (without librosa) and report it to https://github.com/sampsyo/audioread along with the corresponding codecs in the two environments, which you can pull by calling `

[2015-09-05 00:36] wangsix commented on #254
Thank you!! Gonna try to be a good citizen then.

[2015-09-05 01:41] bmcfee commented on #254
Fixed by merging #255

[2015-09-05 01:41] #254 closed

[2015-09-05 01:44] bmcfee opened #256 "Update changelog in documentation for 0.4.1"
Title says it all.  Specifically, consult [this list](https://github.com/bmcfee/librosa/issues?utf8=%E2%9C%93&q=is%3Aclosed+milestone%3A0.4.1+) of changes to make sure all are accounted for.

[2015-09-05 03:21] ebattenberg commented on #241
Sorry about the delay.  I'm having trouble getting Google Inbox to not throw all my github notification emails away.  The reason to use an impulse train is that it gives a wide band signal so you can see that the amplitudes across different octaves are as expected.  I know that a sine wave isn't exactly sparse in frequency because of the window effects, so if you want to use a sine that's fine.  I

[2015-09-05 03:33] bmcfee commented on #241
Sure, that makes sense.  Thanks for the clarification.

I did a bit more experimentation with this in a local branch, and it seems to cause some unexpected failures.  I may dig into this more later, but your response above is compelling enough to drop this approach anyway.

I suppose so.  I chalk it up to weirdness inside scipy's resampler. Or, perhaps scipy is doing it right and libsamplerate is

[2015-09-05 13:54] bmcfee commented on #241
[This notebook](https://gist.github.com/bmcfee/3e20e84868c4b4ad4321) should maybe clarify some things here.

It generates the same kind of impulse train used in the current cqt tests, computes full and hybrid cqt with and without libsamplerate, and shows the results of a single step of downsampling with and without libsamplerate.

The obvious difference is the ringing induced by `sinc_best`, which

[2015-09-05 15:36] bmcfee commented on #241
Quick follow-up: setting `norm=0.5` gets our max deviation down into the 1e-6 range.  Any thoughts on what's going on there?

[2015-09-06 18:30] dela3499 commented on #67
This worked for me as well. Thanks for posting it!

[2015-09-06 19:18] bmcfee commented on #67
One more piece of clarification: the main distribution of `scikits.samplerate` found in pip does not support python 3.  There's a fork that does fix the problem though, which can be easily installed by saying

[code]

[2015-09-09 00:11] bmcfee commented on #241
I updated the notebook to use a [sine sweep](https://gist.github.com/bmcfee/e7b864cc1b8301b1d9a3) instead of an impulse train, and the plot thickens.  The errors seem to alternate in severity every other octave in the downsampling regime.  Importantly, the ringing artifacts are not present in the downsampled signal here, so I don't think it's (necessarily) to blame for the stft-vs-cqt discrepancy.

[2015-09-11 00:02] #241 closed

[2015-09-24 16:03] r9y9 opened #258 "Speedup module loading time: import frequently used modules only in a top-level module"
At thiis time, `import librosa` takes about 500~800msec in my local environment and I feel it's a little long to wait. One of the reason is that `librosa/__init__.py ` loads all sub-modules when importing the module `librosa`.
https://github.com/bmcfee/librosa/blob/master/librosa/__init__.py#L13-L25

I would like to suggest that importing most important and frequently used modules only (`core` and

[2015-09-24 16:30] r9y9 opened #259 "Add link to the paper of librosa to the docs or README (or both)"
librosa is great, but I once wondered that what is the goal and what is the design principles behind librosa.

I found this paper https://bmcfee.github.io/papers/scipy2015_librosa.pdf is really useful to understand the design principles. I think it would be great to add link to the paper to the docs or README (or both).

[2015-09-24 17:01] bmcfee commented on #258
I'm generally sympathetic to this, but I also dislike it when modules do this sort of thing just for perceived efficiency, especially when I'm in an interactive environment.

It's also not immediately obvious which libraries to skip loading.  Here's a breakdown of the current file sizes (as a proxy for parse complexity):
[code]
The biggest offenders in terms of load time are going to be `core` and

[2015-09-24 17:08] bmcfee commented on #259
Good call.  The scipy proceedings hadn't been released until after the 0.4 release, but we can include the link in 0.4.1.

[2015-09-25 03:05] r9y9 commented on #258
Thanks for the comments. I will look into what are the actual reasons that increase import time more carefully and report benchmarks here if any progress on that.

[2015-09-26 03:30] kohaugustine opened #261 "Problem running Python notebooks on the example datasets"
Hi all,

I just cloned the entire repo onto my machine, and when I opened the notebooks and tried running them on the example datasets just as they are, I got the following error:

---------------------------------------------------------------------------
NoBackendError                            Traceback (most recent call last)
<ipython-input-3-f32994730795> in <module>()
      5 # audio_path =

[2015-09-26 16:50] bmcfee commented on #261
Please see [this issue](https://github.com/bmcfee/librosa/issues/219).  The summary is that you're missing the necessary audio codecs for audioread to work.

[2015-09-26 16:50] #261 closed

[2015-09-28 04:18] kohaugustine commented on #261
@bmcfee  Thank you for your prompt response! I will take a look at the post you directed me to.

[2015-10-09 20:13] lwaldner opened #262 "Setup script exited with error: Microsoft Visual C++ 10.0 is required"
Can you please fix the error "Setup script exited with error: Microsoft Visual C++ 10.0 is required". You can't install the old c++ compiler because a newer one is already installed and their are existing hacks that allow you to install it but it would be nice if the native installation would work.

[2015-10-11 15:27] bmcfee commented on #262
I don't understand this issue.  Can you post a log of what exactly happened when you tried to install?

I've never tried to install librosa on a windows environment, though I have heard of people making it work (see [here](https://groups.google.com/forum/#!searchin/librosa/windows/librosa/Z1-HXBsHLi0/w-4QJIs4CwAJ)).

There shouldn't be any need for MSVC++, since librosa is all pure python.

[2015-10-14 01:44] bmcfee commented on #221
merging #231 resolves this issue.

[2015-10-14 01:44] #221 closed

[2015-10-14 01:44] bmcfee commented on #256
- [ ] Also update the version number.

[2015-10-14 02:42] #256 closed

[2015-10-14 02:42] #259 closed

[2015-10-14 02:45] r9y9 commented on #259
Thanks!

[2015-10-14 12:50] bmcfee opened #265 "onset_strength_multi fails with idx as list-of-int"
This function should support a list-like of ints or slice objects.

This doesn't exactly match up to `util.sync`, which supports an ndarray of ints or an iterable of slices.

This causes problems with code like the following:
[code]
because `sync` expects non-ndarrays to contain slices, not numbers.

TODO:

- [ ] add a unit test for this case
- [ ] fix `sync` to detect boundaries vs slices properl

[2015-10-14 13:37] bmcfee commented on #265
Upon further inspection, this ought to be fixed in `sync` and not `onset_strength_multi`.  See #266

[2015-10-14 15:05] #265 closed

[2015-10-15 13:16] bmcfee commented on #262
Since librosa has no C/C++ code, I'm sure that this issue must be coming from a dependency.

However, I'll reopen this issue if someone can demonstrate that it's librosa's fault.

[2015-10-15 13:16] #262 closed

[2015-10-15 13:17] #59 closed

[2015-10-15 13:18] bmcfee commented on #41
I think there are enough python dtw implementations kicking around that we don't need to have our own here.

[2015-10-15 13:18] #41 closed

[2015-10-15 13:18] #58 closed

[2015-10-15 13:21] bmcfee commented on #185
The above PR was merged prior to mpl 1.5.0, so I think we're safe in closing this one out.

[2015-10-15 13:21] #185 closed

[2015-10-15 13:22] bmcfee commented on #212
Since this issue stems from audioread and not librosa, I think there's nothing for us to do here.

[2015-10-15 13:22] #212 closed

[2015-10-15 21:40] bmcfee commented on #204
I did some more thinking on this, and I think we shouldn't do it.  (Or, at least, not in the ways described above.)

Aside from all of the technical challenges involved in getting it to work in the first place, I don't like the idea of having implicit state in functions.  (This would be fine in class methods, where it's obvious that  state must be confined to the object.)

Let's imagine a hypothet

[2015-10-16 03:51] craffel commented on #204
Yes, I don't think the solutions discussed in this thread are very good, and I don't think there's a simple way to do this.  But, I still stand by this:

I would almost say that what it fundamentally comes down to is that a np.ndarray of samples is an incomplete description of an audio signal, because you don't know the sampling rate.  I'd almost advocate subclassing np.ndarray and creating a clas

[2015-10-16 04:36] bmcfee commented on #204
Sure.  That would maybe solve one tiny corner of this general problem, but I think it's too specific to be worth doing.  (FWIW, the astropy folks did this kind of thing, and it seems like a pretty massive undertaking.)

Actually, I've almost got it working.  It's a big pile of hack that crawls a module tree and wraps up each encountered function in a decorator that squashes defaults against the ob

[2015-10-16 05:05] bmcfee commented on #204
Ok, I think it works.

https://gist.github.com/93f1666b44a0da899ead

[2015-10-16 12:38] bmcfee opened #267 "Orthogonalize keyword arguments"
The solution posted in #204 for overriding default parameters assumes that keyword arguments be consistently named across all functions.  (For example, `sr` always means sampling rate.)  This is mostly the case in librosa, but there may be some violations with the more abstract variable names (e.g., `n_bins` in `cqt`).

Independent of #204, it's good practice to use precise variable names, so we s

[2015-10-16 13:25] bmcfee commented on #267
- [ ] Migrate parameters by 0.4.2 with deprecation warnings
- [ ] Remove old parameter names by 0.5.0

[2015-10-16 13:56] bmcfee commented on #204
I'm forking this out into a new package [here](https://github.com/bmcfee/presets).  The current revision works, though it needs testing and docs.

I think this functionality is now outside the scope of librosa, so if it's ok by everyone else, I'd like to close out this issue.

[2015-10-16 15:39] craffel commented on #204
Yes, that looks awesome and a little scary, but definitely seems to be outside of the scope of `librosa`.

[2015-10-16 15:51] bmcfee commented on #204
Ok.

Note to future users: this functionality is subsumed by the [presets](https://github.com/bmcfee/presets) module.

[2015-10-16 15:51] #204 closed

[2015-10-18 11:39] bmcfee opened #269 "Refactor and improve tempo estimator"
The current tempo estimator is based on the analysis of the first 90 seconds (by default) of the onset strength envelope.  This seems somewhat brittle, and doesn't scale to time-varying tempo estimation #44 .

It shouldn't be difficult to generalize and apply the same tempo inference algorithm to the local onset autocorrelation/tempogram #247 to get time-varying tempo estimates.  Alternately, it c

[2015-10-21 10:28] varun0007 opened #270 "Could not import scikits.samplerate"
Python 2.7.6 (default, Jun 22 2015, 17:58:13)
[GCC 4.8.2] on linux2
In[2]: import librosa
/usr/local/lib/python2.7/dist-packages/librosa-0.4.1-py2.7.egg/librosa/core/audio.py:37: UserWarning: Could not import scikits.samplerate. Falling back to scipy.signal
Backend TkAgg is interactive backend. Turning interactive mode on.
/usr/lib/pymodules/python2.7/matplotlib/rcsetup.py:378: UserWarning: tk.pyt

[2015-10-21 11:58] bmcfee commented on #270
This is not a librosa error: the samplerate line is a warning, and librosa will function fine (albeit more slowly) without it.

It looks like your actual error is due to a problem in matplotlib.

[2015-10-25 12:44] bwhitman commented on #270
This happens to me on OS X 10.10 default python install, and it is this issue of matplotlib (fixed in later versions) https://github.com/matplotlib/matplotlib/issues/2543/

The only way to get master to run on OS X default python without upgrading system matlplotlib (a huge PITA) is to change

[code]

[2015-10-25 14:07] bmcfee commented on #270
Oh strange.  What version of matplotlib does it fail on?

[2015-10-25 14:08] bwhitman commented on #270
1.3.1

[2015-10-25 14:12] bmcfee commented on #270
Thanks.  I'll add a version requirement (>=1.4.3 most likely) on the next minor revision.

[2015-10-25 14:14] bmcfee opened #272 "add versions to requirements"
From #270 discussion: there really should be minimum version numbers on the requirements in setup.py.

- [x] audioread >= 2.0
- [x] numpy >= 1.8.0
- [x] scipy >= 0.13.0
- [x] sklearn >= 0.14.0
- [x] matplotlib >= 1.4 ?
- [x] joblib >=0.7
- [x] decorator >= 3.0
- [x] six >= 1.3

[2015-10-25 14:21] bwhitman commented on #270
(That'll make librosa super super hard to run on a mac, perhaps a better way to do this is to just not have plotting enabled if we can't import it?)

[2015-10-25 14:25] bmcfee commented on #270
My $0.02 is that using (apple's) native python distro is a losing proposition no matter what, and you'd be much better off switching to anaconda.

[2015-10-30 12:13] bmcfee opened #273 "mpl1.5 compatibility"
``UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.``

followed by

[code]

This occurs in the `waveplot` function.

[2015-11-03 09:53] spk921 opened #275 "I try to do tutorial but can't run it. Can someone help me?"
This is my code. test.py
<img width="496" alt="screen shot 2015-11-03 at 4 51 04 am" src="https://cloud.githubusercontent.com/assets/13938697/10905162/8ad551c2-81e6-11e5-96c8-ff6353c77706.png">

I run like : python test.py
From the tutorial page it said like this :
 The example is encoded in OGG Vorbis format, so you will need the appropriate codec installed for audioread.
However, I pip install a

[2015-11-03 13:27] bmcfee commented on #275
Please refer to the discussion of issue #219 .

[2015-11-03 13:27] #275 closed

[2015-11-03 16:03] stefan-balke commented on #219
@dsiah go and get libsamplerate.

The easiest way is to do it by
`brew install libsamplerate`
Afterwards you need to install
`pip install scikits.samplerate`

[2015-11-03 16:08] stefan-balke commented on #270
Yap, or installing and linking it manually with homebrew. Maybe there should be something in the readme about this. Although it shouldn't describe how you can run python on a mac...

[2015-11-03 17:26] bmcfee commented on #273
resolved by merging #274

[2015-11-03 17:26] #273 closed

[2015-11-03 17:29] bmcfee commented on #270
The mpl version requirement was added by merging #274 .  Otherwise, I'm not sure there's much to be done on this issue.

Since I don't have a mac, I'm not in a position to write specific documentation for getting it running.  However, if anyone feels like sending a PR for improving install instructions in the documentation, I'd be happy to include it.

[2015-11-03 17:29] #270 closed

[2015-11-04 14:40] bmcfee opened #276 "Better installation instructions"
Since the same issues keep popping up again and again ( #270 #275 #219 #261 ), it seems like we must have some shortcomings in the documentation.

In particular, the following points should be addressed explicitly:

- audioread backends
- scikit-samplerate
- general installation issues on osx / pointers to anaconda install instructions

Does anyone out there, preferably a mac user with direct expe

[2015-11-04 22:07] stefan-balke commented on #276
Yes, I will take care of the OS X part.

[2015-11-05 14:29] bmcfee commented on #276
Awesome, thanks!

[2015-11-07 16:36] bmcfee opened #278 "A logo?"
It seems like all the cool projects have a logo.  We should get one too.

[2015-11-10 06:44] kacrouse opened #280 "Confidence factor for beat tracking"
Could a confidence factor be determined for the results of the beat tracking algorithm? Perhaps a factor for each individual beat found and/or the global tempo.

Maybe the algorithm isn't conducive to easily finding a confidence factor, but I think it would be very useful.

[2015-11-10 12:24] bmcfee commented on #280
The beat tracking algorithm does not have a direct statistical interpretation, so labeling anything as "confidence" would be highly misleading IMO.

How exactly would you want to use such a quantity?  Depending on your application, the onset strength at selected beat frames might be a suitable proxy.  (Or, some derived quantity comparing onset strength at beats to those in the surrounding neighbor

[2015-11-13 05:54] kacrouse commented on #280
Ah, okay.

I'm looking for a way to determine how strong the beat is in a given song. Or perhaps a way to tell how easy it is to feel and track with the beat.

I think you're right, the onset strength may give me close to what I'm looking for.

[2015-11-13 08:10] ruohoruotsi commented on #278
+1, a visual identity is a good idea! Especially for an ass-kicking library like this!

[2015-11-23 11:32] nils-werner opened #281 "Do not import all modules on initial import (especially display)"
This issue is very similar to #258:

Matplotlib 1.5.0 partially broke the Mac OSX backend in virtualenvs so running code that runs `import matplotlib` became non-trivial. Since librosa imports matplotlib in every case, using librosa on Mac OSX becomes non-trivial

[A small library that was merely using librosa for its WAV write/read capabilities](https://github.com/bmcfee/pyrubberband/blob/master/

[2015-11-23 11:54] dpwe commented on #281
https://github.com/dpwe/audfprint/blob/master/audio_read.py

  DAn.

[2015-11-23 13:14] bmcfee commented on #281
As mentioned in #258 , I'm not a fan of piece-mealing libraries, but you do make a good point here about isolating (optional) dependencies.  (For the simple submodules with shared dependencies, I don't see the value in breaking the auto-import, since they tend to be interlinked anyway.)

I think making ``display`` optional makes sense, given its explicit dependency on an external library that does

[2015-11-23 13:17] bmcfee opened #282 "Deprecate FeatureExtractor"
Deprecate in 0.4.2, remove in 0.5.0.

Sklearn now provides [this](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.FunctionTransformer.html#sklearn-preprocessing-functiontransformer) for us, although the API isn't quite as functional in that you can't store (keyword) arguments within the object.

[2015-11-30 18:21] bmcfee opened #283 "HPSS enhancement"
[paging @cortexelus]

The method of [Dreidger et al.](http://www.terasoft.com.tw/conf/ismir2014/proceedings/T110_127_Paper.pdf) extends Fitzgerald's HPSS algorithm to support harmonic-percussive-residual separation.  It's a relatively straightforward modification to the algorithm: rather than generating the mask by a [``harm > perc``](https://github.com/bmcfee/librosa/blob/master/librosa/decompose

[2015-11-30 19:14] bmcfee opened #284 "Fix display tests for matplotlib 1.5"
Apparently version 1.5 moved the tests submodule, which breaks our display tests.  This should be an easy fix.

See also: [this thread](https://github.com/matplotlib/matplotlib/issues/5487)

[2015-12-02 14:05] bmcfee commented on #284
It seems like the image comparison test code has been refactored a bit, and we won't need to maintain a copy of it within librosa.

Once mpl 1.5.1 is released, we should re-implement the image comparison tests.

[2015-12-07 20:16] bmcfee opened #287 "resample should support multi-channel input"
[instigated by discussion in [this thread](https://github.com/algorithmic-music-exploration/amen/pull/25)]

Resample-on-load handles multi-channel input, but resample itself does not.  This is inconsistent, and we should fix it.

[2015-12-08 14:41] #287 closed

[2015-12-08 14:46] bmcfee opened #289 "0.4.2 release to-dos"
- [x] update version number
- [x] update changelog
  - see [closed PRs](https://github.com/bmcfee/librosa/pulls?utf8=%E2%9C%93&q=is%3Aclosed+is%3Apr+milestone%3A0.4.2+)
- [x] update readme
- [x] update examples
- [x] update 2015->2016 in docs

[2015-12-15 10:02] srviest opened #290 "import issue"
librosa worked fine until recently,
when I import librosa:
╰─$ python -c 'import librosa'
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "build/bdist.macosx-10.9-x86_64/egg/librosa/__init__.py", line 15, in <module>
  File "build/bdist.macosx-10.9-x86_64/egg/librosa/core/__init__.py", line 89, in <module>
  File "build/bdist.macosx-10.9-x86_64/egg/librosa/core/aud

[2015-12-15 12:06] bmcfee commented on #290
This is a problem with scikits.samplerate, not librosa.

The issue, I believe, is that the binary api for numpy changed at 1.10.  scikits.samplerate still works, but you need to rebuild the module from source (not from pypi).

As a side note, I keep a fork of scikits.samplerate for python3 compatibility, which is what gets used in our test suite.  You can install it by saying:
[code]

[2015-12-15 12:07] bmcfee commented on #290
[tagging @rabitt who has also noted this issue]

[2015-12-15 13:37] srviest commented on #290
To @bmcfee, it works now, Thank you!

[2015-12-15 13:54] #290 closed

[2015-12-15 22:30] bmcfee opened #291 "display.frequency_ticks"
Following the discussion [here](https://groups.google.com/forum/#!topic/librosa/dkJzIo_yydA): we should have logic to specify (and automatically determine) the units on frequency axes: mHz, Hz, KHz, MHz, GHz?

[2015-12-16 16:28] drepetto commented on #291
I think those four are sufficient. I guess the trick will be figuring out which range is appropriate. It's common to see labels in the 1000s of mHz range. It's similar to the situation with current measurements in Amps, where a power supply will say 1500 mA. So I'm not sure how to judge when to bump up to the next range. Maybe an optional flag specifying a specific unit?

[2015-12-16 20:06] bmcfee commented on #291
Sure; I'd probably do something like ``time_ticks()`` and have ``fmt in [None, 'mHz', 'Hz' ...]`` with ``None` corresponding to automatic scaling.

As for range boundaries, how about:
* [0, 10Hz) -> mHz
* [10Hz, 10KHz) -> Hz
* [10KHz, 10MHz) -> KHz
* [10MHz, 10GHz) -> MHz
* [10GHz, infty) -> GHz?

[2015-12-17 15:41] drepetto commented on #291
Sure, those look like reasonable ranges. I doubt anyone would use,
say, 7000hHz, but 1500hMz is reasonable. So at the low end I'd
probably end up setting units explicitly most of the time. But those
look like good defaults.

.d

On Wed, Dec 16, 2015 at 3:32 PM, Brian McFee <notifications@github.com> wrote:

[2015-12-17 15:45] bmcfee commented on #291
hHz? :)

One more question: would it be preferable to have all ticks on the same unit scale, or append the unit to each tick?

The former appeals to my sense of consistency.

The latter would be much more useful when working on log-frequency axes (as I usually do).

I'd rather not support both if we don't have to, since the interface could easily get too complicated.

[2015-12-17 15:47] drepetto commented on #291
Sorry, mHz!

Yes, one unit per axis makes most sense to me. Maybe switching to
scientific notation where it makes sense, like a num_zeroes
threshold...

.d

On Thu, Dec 17, 2015 at 10:45 AM, Brian McFee <notifications@github.com> wrote:

[2015-12-20 06:12] bmcfee commented on #282
The sklearn implantation note supports everything that we had here, so this issue is no longer blocked.

[2015-12-25 03:21] dela3499 opened #292 "Automatically install scikits.samplerate and libsamplerate"
Installing scikits.samplerate and libsamplerate is error-prone and time-consuming (for me). Would it be reasonable to automatically install these (admittedly optional) dependencies? It would be really great to hit the ground running (quickly) after just a pip install.

[2015-12-25 20:39] bmcfee commented on #292
This is semi-redundant with #202.  The biggest hurdle here is that libsamplerate is not written in python, and thus cannot be used to satisfy pip dependencies.  There's no way to automate this within pip, but it's possible within conda.

[2015-12-25 20:39] #292 closed

[2015-12-29 04:07] dankorg opened #293 "hpss only mono output?"
Hi,

I enjoy your librosa python code so far and have the latest version, however I noticed some problem with the output.

I ran the hpss code from here:
https://github.com/bmcfee/librosa/blob/master/examples/hpss.py

and used a sample stereo file 44.1kHz sampling rate. Output works, but in mono,
how can hpss save it in stereo or is this not possible yet? Let me know, maybe by including a modified

[2015-12-30 14:47] stefan-balke commented on #291
Just a remark:

KHz
should be

kHz. Here is a list: https://en.wikipedia.org/wiki/Hertz

[2016-01-04 15:59] bmcfee commented on #293
Hi Daniel,

This sort of question is perhaps better suited to the [discussion group](https://groups.google.com/forum/#!forum/librosa), but the short answer is that librosa is primarily designed to analyze monophonic signals.

It shouldn't be difficult to modify the hpss script with a helper function along the lines of:
[code]
and loading the waveform with `mono=False`.

That will perform hpss inde

[2016-01-04 15:59] #293 closed

[2016-01-04 18:33] bmcfee commented on #291
:+1:

[2016-01-04 19:11] bmcfee commented on #282
resolved by merging #294

[2016-01-04 19:11] #282 closed

[2016-01-07 16:14] #276 closed

[2016-01-18 10:08] stefan-balke commented on #12
Is this still of any interest? I have something for the CENS features.

[2016-01-18 13:32] vahndi commented on #12
CENS and CRP features would be useful imo

[2016-01-18 14:26] bmcfee commented on #12
Sure.  I'm for it as long as we can provide numerical regression tests against the chroma toolbox implementations, as is done for the METlab features.

When I last looked into this, it seemed like the chroma toolbox code wasn't factored in such a way as to make this easy, but it shouldn't be impossible either.

[2016-01-18 15:18] stefan-balke commented on #12
Okay, the chroma toolbox delivers "pitch features" (logarithmic freq. axis with 12 bands per octave) using filterbanks.
For numerical regression tests, we could go with CQT features from librosa.
Load them in Matlab and calculate the chroma features.
I think that might be the hardest part to compare.

I'm not too familiar with CQT and the comparison to the filters used in the chroma toolbox.

[2016-01-18 15:32] bmcfee commented on #12
Do you mean filters applied to STFT?

I'm guessing it'll be easier to go the other direction: save the intermediate representation (ie spectrogram) from chroma toolbox and make that the input to the python implementation.  That way, you're comparing apples to apples and isolating the filter and post-processing instead of the low-level dsp.  This is how most of the rastamat regression tests are set

[2016-01-18 15:55] stefan-balke commented on #12
No.
The chroma toolbox takes the time domain.
Loads filter coefficients for all musical pitches.
And convolves it with the time domain signal.

For the chroma toolbox the following pipeline is used :
wav_to_audio(): downsample and downmix to mono
audio_to_pitch_via_FB (): apply filterbank as described above
{pitch_to_chroma(), pitch_to_CENS(), pitch_to_CRP()}

So we could take the output from audi

[2016-01-18 16:03] bmcfee commented on #12
Oh, I see.  Sorry, it's been a while since I read the paper! :)

In that case, yeah, caching the ``audio_to_pitch()`` output and feeding it into the python routines as a CQT matrix makes sense.

[2016-01-18 16:09] stefan-balke commented on #12
Okay, one last thing:
There are two Chroma versions in librosa (chroma_cqt and chroma_stft).
CENS and CRP are just post processing steps to normal Chroma features.
Should those live in `spectral.py` and take a Chroma matrix as input?

[2016-01-18 16:33] bmcfee commented on #12
Good question.  There's precedent for chroma-post-processing in the ``tonnetz()`` function, but I'm not sure it makes sense in this context.  Since the whole point of this stuff is to implement specific forms of dynamic range and normalization, it makes sense to push the interface toward input as raw as possible.  I worry that allowing a ``chroma`` input here will encourage users to pass the (defa

[2016-01-19 00:23] CourtCourtGT commented on #278
<img width="224" alt="screenshot 2016-01-18 19 22 54" src="https://cloud.githubusercontent.com/assets/16710597/12406205/e98d5854-be18-11e5-9519-b194c238315b.png">

Let me know if any of these would appeal to you guys and I'll file a pull request with the appropriate files

[2016-01-19 12:03] stefan-balke commented on #276
FYI:
A colleague uses Windows + Anaconda.
scikits.samplerate ist available as a wheel from this site:
http://www.lfd.uci.edu/~gohlke/pythonlibs/#scikits.samplerate

So the last thing to handle is now how to read compressed audio files
under windows to integrate libsndfile.

[2016-01-19 14:11] bmcfee commented on #276
Cool, thanks for looking into that.

Do you know if that wheel supports python 3?  I've had difficulties with the main distribution of scikits.samplerate, and wouldn't be surprised if that conda channel doesn't quite work.  (FWIW, I maintain a fork-of-a-fork that works on py3 to enable testing on travis.)

[2016-01-19 14:18] stefan-balke commented on #276
Only tested it on Python 2.7

[2016-01-26 09:03] stefan-balke commented on #12
All right,
will put this on my Dagstuhl Todo. :)

[2016-01-26 09:10] stefan-balke opened #297 "Salience function"
Hey there,

what about adding a salience function to librosa à la Justin Salamon for analysis tasks?
One way to do it is with a Reassigned Spectrogram based on a instantaneous frequencies.
Then add the subharmonics.

Testing material could come from Essentia.

Before collecting the stuff (I have everything somewhere), I wanted to ask if this is worth the work.

Best
Stefan

[2016-01-26 09:12] stefan-balke opened #298 "DTW"
Hey there,

I recently did a DTW implementation based on Meinard's book with some Cython speed up for the dynamic programming.
As this is not yet reflected in librosa, I wondered if we could do a module for music syncronization.

Best
Stefan

[2016-01-26 14:36] sonovice commented on #298
That would be wonderful! I would love to see that.

[2016-01-26 14:38] bmcfee commented on #297
Sure, that could be useful.

How about we page in @justinsalamon and @rabitt for advice on this?

[2016-01-26 14:44] bmcfee commented on #298
(Looping in @craffel and @dpwe)

We've had some previous discussion of DTW in #41, and more or less concluded that: 1) dtw is independent of the other functionality in librosa, 2) there are already many implementations available, so we'd do best to not reinvent the wheel.  (I'd also throw in 3: that adding a cython dependency for one feature may unnecessarily complicate the distribution process, b

[2016-01-26 14:46] craffel commented on #298
Agreed.

You should use numba, not Cython. It's more readable, and usually a bit faster.  Here's my numba implementation:
https://github.com/craffel/djitw/blob/master/djitw/dtw.py

[2016-01-26 14:52] bmcfee commented on #298
I generally agree with the readability bit, but isn't numba even worse for packaging due to the llvm dependency?

[2016-01-26 14:55] craffel commented on #298
Not with conda, it has always been installable easily and immediately (including llvm dependencies) with `conda install numba`.  Without conda, it used to be (about a year ago) that installing the right version of llvm and llvmlight took a lot of command line bullshittery, but it's much better now.

[2016-01-26 15:04] bmcfee commented on #298
Sure.  But since librosa isn't distributed via conda (see #202) the dependency chain is more complicated when pip installing.  Not that this is a deal-breaker, but we already get enough complaints about the install process that I'd rather not complicate it any more than necessary.

[2016-01-26 15:05] stefan-balke commented on #298
Okay, sure, I get your points and agree.

BUT:
In my understanding, librosa wants to cover several MIR tasks and some standard approaches to solve them. Usually no rocket science, more "tools".
DTW is clearly missing here.

Also, as beginners with Python tend to be some kind of overwhelmed by the mass of available packages, it would be nice to have a "standard" implementation available or getting

[2016-01-26 15:13] craffel commented on #298
Oh, I certainly wasn't advocating making numba a dependency for librosa.  Just that it has largely obsoleted Cython for my purposes

In my understanding, librosa wants to cover several MIR tasks and some standard approaches to solve them. Usually no rocket science, more "tools".
DTW is clearly missing here.

I think the point is that librosa covers common MIR-specific building blocks which were no

[2016-01-26 15:15] bmcfee commented on #298
Too late :)

Yeah, like I said, I'm open to persuasion here.

That's a good argument.. I'm convinced.

Also good, but do people actually use vanilla dtw?  I imagine we'd want to bake in some options for the obvious extensions (start/end gullies, max step size, etc).

Yeah.  Actually, one additional benefit of numba over cython here is that we can wrap it with a decorator that makes the dependency

[2016-01-26 15:20] stefan-balke commented on #298
My must haves would be:
 * Arbitrary step sizes
 * Subsequence (so it can be used for matching)

That would be the core functionality which could be easily extended with contraint regions or whatever.

@craffel I haven't tried numba. Was a little bit reluctant of the "automatic" way it does things but we can totally try this. I still have the pure python version.

[2016-01-26 15:23] craffel commented on #298
No.  People use different tweaks on DTW in practice.  If we wanted to have a standard implementation, I would argue we'd need to include all these things.

Arbitrary step sizes
Subsequence (so it can be used for matching)

Plus additive and multiplicative weightings for all of the step sizes and band path constraints.  One thing I have come up against is that as you add more features, the implemen

[2016-01-26 15:37] stefan-balke commented on #298
I would not agree with that. A standard implementation is not necessarily cutting-edge but could also be the baseline.

Okay, in summary this feature set would satisfy common need:
* Arbitrary step sizes
* Additive or multiplicative local weights for the steps
* Subsequence (so it can be used for matching)
* Global path constraints (e.g. Sakoe-Chiba band etc.) [btw: Isn't that easily realized with

[2016-01-26 15:37] bmcfee commented on #298
For the record, I just reran [this notebook](https://jakevdp.github.io/blog/2013/06/15/numba-vs-cython-take-2/) on the latest conda (py3.5, ubuntu, lenovo x1) and get comparable results for pairwise distance calculation:

![image](https://cloud.githubusercontent.com/assets/1190540/12584992/0ed7e7dc-c418-11e5-900a-a3807ffcf702.png)

Can we consolidate a list of commonly-used extensions/features, so

[2016-01-26 15:46] craffel commented on #298
My point is that if we have an implementation which is missing a feature that someone wants/needs, they will not use it, and in practice people seem to use DTW in quite different flavors (for example, you and I are, in the scheme of things, working on the same problem, but our DTWs look quite different).

and

@stefan-balke's list looks OK to me, I would add the "gully" (@dpwe's term), i.e. tolera

[2016-01-26 15:51] bmcfee commented on #298
It's easy enough to support both by checking for `callable`.  We wouldn't need to reinvent `cdist`, since it can support callable distances as well.

The reason I bring this up is that once you start talking about features like subsequence and bounded windows, then it's really unnecessary to compute the entire distance matrix.  Given that, I'm not sure it makes sense to use the distance matrix as

[2016-01-26 15:56] craffel commented on #298
I have always left it outside of the DTW implementation to compute distances - i.e. if someone only wants to compute part of a distance matrix, they'd do that before passing it to the DTW function.

I'm not sure how/if Cython/numba support `scipy.sparse`, for example, and it seems a little over-the-top to try to support some native format.  Maybe we're not talking about the same thing.

[2016-01-26 15:57] justinsalamon commented on #297
yeah sure why not :) There are some implementation details - you can do it all in matrix algebra but then it's not based on peak-picking, which generally gives a cleaner representation (the Essentia and Melodia implementations both use peak-picking). Sounds like a fun HAMR project I say.

[2016-01-26 16:04] bmcfee commented on #298
I see how that works with rectangular blocks of D, but not for diagonal bands.  Of course, if we support sparse input, that problem goes away (mostly).  Right?

It works fine in numba.  Cython might be much more difficult.

[2016-01-26 16:05] stefan-balke commented on #298
So, assuming we call the module `dtw.py`.

I would expect the following functions:
 * `cost_matrix(feat_seq_1, feat_seq_2, distance='euclidean')`
   - distance is handed over to `scipy.spatial.distance.cdist`
   - returns `cost_matrix`
 * `accumulated_cost_matrix(cost_matrix, step_sizes_sigma=np.array([[1, 1], [0, 1], [1, 0]]), step_weights=np.array([1, 1, 1]), subsequence=False)`
  - returns `acc

[2016-01-26 16:10] craffel commented on #298
It works for rectangular blocks using `scipy.spatial.distance.cdist`; it works for other subportions of D using a hand-rolled distance matrix calculation function.

Maybe?  Depends on how it's implemented.

I'm not seeing any way of supplying bands/computing DTW for only a subportion of possible pairings.  Or gullies.

[2016-01-26 16:16] stefan-balke commented on #298
Yeah, it was more meant to be developed from this :)

I mean, a general question for the implementation is if we first build the core vanilla dtw and then write wrapper functions for adding restricting regions or gullies.

[2016-01-27 15:31] bmcfee commented on #298
This is all sounding great.

I'm not sure if wrappers for the fancier behavior will work out though; it seems like we'll probably have to go the opposite direction, having a fancy core algorithm with simplified wrappers.

I would recommend getting a stable vanilla implementation first, and then extending its functionality later.  It does seem like trying to get everything exactly right from the st

[2016-01-27 15:41] stefan-balke commented on #298
* Step sizes: Regularization of the steepness of the warping path
 * Step weights: Avoid degenerated paths
 * Applications:
   - Synchronization: Keep tempo of two sequences similar.

 * Global path constraints: Sync long audio recordings in reasonable time (operas?)

[2016-01-27 15:44] craffel commented on #298
I think between @stefan-balke and me we have a decent coverage of use-cases.  Ideally I'd like to be able to use it for all use-cases in my [ICASSP paper](http://colinraffel.com/publications/icassp2016optimizing.pdf) (see the list in section 4), so that requires additive and multiplicative penalties, a band-path constraint, and gullies.  [djitw](https://github.com/craffel/djitw/blob/master/djitw/d

[2016-01-28 14:48] bmcfee commented on #298
I think most of the features we're talking about here are optimizations?  Variable step sizes will obviously increase complexity, but I think most everything else shouldn't impact efficiency too much if done properly.  (FWIW, I see a few places that djitw could probably be made a bit faster using numpy primitives and np.ma, but that's beside the point...)

At any rate: are you two ( @stefan-balke

[2016-01-28 15:12] craffel commented on #298
The issue is that DTW at its core is extremely fast - two nested for loops and a switch statement - that once you add other things to it, even if those things are meant to make it faster, they often don't in practice (speaking from experience with audio-to-MIDI-alignment, at least).  For example, additive and mulitplicative penalties both add at least one operation each; that slows things down.  I

[2016-01-28 15:19] bmcfee commented on #298
:+1:

[2016-01-28 15:23] stefan-balke commented on #298
Arbitrary step sizes means that we have to deal with the the edge cases a lot. We usually try to overcome this by appending infinity cols/rows. I'll try to have a look at @craffel code at the weekend and see how mergeable our two approaches are.

Maybe can @bmcfee create that one with the correct module naming.

[2016-01-28 15:42] stefan-balke commented on #297
@justinsalamon, I'm not necessarily talking about predominant melody extraction.
I am more interested in having: a) some spectrogram reassignment in librosa (as an analysis alternative to cqt) and b) another midlevel representation based on subharmonic summation.
MELODIA could be built upon these features, of course, but I don't know if it is smart to have another implementation, since Essentia is

[2016-01-28 18:18] justinsalamon commented on #297
@stefan-balke sorry if I wasn't clear, I wasn't suggesting to implement melodia in librosa, just the salience function (which makes use of reassignment and subharmonic summation, but only for spectral peaks, which was the point I was trying to make)

[2016-01-28 20:14] bmcfee commented on #298
Nah, I trust you two to do it right. :trophy:

[2016-01-29 13:48] stefan-balke commented on #297
Ah okay, gotcha.
I created a small notebook for a reassigned spec based on the instantaneous frequency distribution which is already in librosa:
http://nbviewer.jupyter.org/github/stefan-balke/mpa-exc/blob/master/02_fourier_transform/reassigned_spectrogram.ipynb

@justinsalamon do you used specific unit test scenarios? And also, did you use the IFD by Abe or a phase vocoder?

[2016-01-30 04:51] bmcfee commented on #284
Fixed by merging #299

[2016-01-30 04:51] #284 closed

[2016-01-31 23:39] bmcfee commented on #283
On this point, I think we should preserve the existing API. That is, compute H and P using margins, and if the user wants the residual, they have to construct it manually.  This should be documented with an example though.

[2016-02-01 00:07] bmcfee commented on #283
... and one more to be extra clear, I don't think we need to implement the iterative procedure here.  It's simple enough to do as an add-on, but the core method should just stick to the one-shot separation with tunable margins.

[2016-02-01 02:09] #291 closed

[2016-02-01 16:02] bmcfee commented on #272
Resolved by merging #300

[2016-02-01 16:02] #272 closed

[2016-02-01 16:20] bmcfee opened #301 "Web page, example gallery"
What do people think about building up a simple home page for librosa?  I'm thinking something in the vein of [d3js.org](http://d3js.org/) but much simpler, and providing a handful of embedded (crowd-sourced) notebooks demonstrating various functionality.

This probably depends on #240.

[2016-02-01 19:19] bmcfee commented on #269
I took a first cut at this, and it works pretty well.  Example notebook is [here](https://gist.github.com/bmcfee/524b452a92c74f17e004).  I've added a couple of debug plots to illustrate what's going on internally between the old method (estimate_tempo, copied from librosa.beat) and the new method.

The new method is essentially identical, except that x_corr estimate is now done by averaging (or so

[2016-02-01 20:04] bmcfee commented on #267
It's beginning to look like having a dynamic mapper that replaces old argument names by new ones (with a warning) may not be possible for functions that don't already have a ``**`` in their definition.  Or, at least, it may require pretty heavy surgery on the function.

[2016-02-01 20:27] bmcfee commented on #267
For reference, here's a [notebook](https://gist.github.com/94e366aaaed0c87e91c4) that crawls the API for user-facing argument names that appear in two or more functions.

On a first pass, the following may be ambiguous:

- `fmt`
- `k`
- `lag`
- `mode`
- `offset`
- `order`
- `resolution`
- `threshold`
- `trim`

I'm not counting the obvious ones like `x` and `data`, where one would not reasonably ex

[2016-02-01 20:58] bmcfee commented on #267
A reasonable intermediate solution here is to replace deprecated keyword arguments by an object of some token type ``Deprecated``, and throw a warning if it's overridden by a user-specified value.

[2016-02-02 13:47] bmcfee opened #303 "Local contrast normalization"
[paging @ejhumphrey, and summarizing offline conversation]

We should have a reference implementation of the LCN method used by Humphrey [chapter 5, section 4.2.1](https://raw.githubusercontent.com/ejhumphrey/dl4mir-dissertation/master/pdf_snapshots/dl4mir_20150423_GM.pdf).

The API should look similar to that of `hpss`, and it should support real or complex spectrogram inputs. (The latter simply

[2016-02-02 21:18] bmcfee commented on #267
Fixed by merging #302

[2016-02-02 21:18] #267 closed

[2016-02-04 13:51] bmcfee commented on #165
![later...](http://vignette4.wikia.nocookie.net/spongebob/images/e/e3/Oneeternitylater.jpg/revision/latest?cb=20100406142514)

As mentioned in #279, I have a working inverse implementation in a [notebook](https://gist.github.com/bmcfee/3db6ce4321157a2bb479).  However, I don't think we should integrate this into the current (0.4) release line for two reasons: 1) it sounds awful on the default param

[2016-02-04 20:05] ebattenberg commented on #165
What kind of changes are required to the forward CQT?

[2016-02-04 20:21] bmcfee commented on #165
I'm not sure yet, it'll take more detailed probing than I have time for at the moment.  One of the things that popped up in reconstruction was the need for re-normalizing the signal (dividing by `sqrt(2)`) after up-sampling by 2.  We don't do this in the forward direction, and it's not clear to me yet if this matters.  (It shouldn't, in theory, but I could imagine it having some influence on the r

[2016-02-15 17:19] ejhumphrey commented on #67
I know the issue is closed, but I'd like to up-vote that this little nugget of wisdom be migrated to the mainpage `README.md` ... I'm (finally) trying to get on the py3 wagon, and this just bit me (the "fallback" didn't work so well for `librosa.load`).

[2016-02-15 21:55] bmcfee commented on #67
Adding this to the to-do list when compiling 0.4.2 release notes.

What we really ought to do, though, is find some enterprising young upstart to write a pip-friendly numba (or cython) implementation of sinc resampling.

[2016-02-16 05:09] kylemcdonald opened #305 "Onset tweaking"
I'd like to use librosa onsets for separating transients for sampling. I noticed the peaks are always a little later than where I'd usually chop up a sound, so I wrote a little code to walk them back to the most recent local minima:

[code]

Some onsets before:

![before](https://cloud.githubusercontent.com/assets/157106/13067714/6cbb68c2-d441-11e5-9a05-fe0e2f3e3ecb.png)

And after:

![after](http

[2016-02-16 12:37] bmcfee commented on #305
Interesting.. I'd need to see some quantitative results before adding something like this to the library, but it's worth considering.

A couple of alternate ideas:

1. Would it suffice to just use smaller hop sizes, and maybe `lag>1` (ala superflux)?
2. What about doing [time reassignment](https://www.researchgate.net/profile/Malcolm_Macleod/publication/2895902_Analysis_Of_Reassigned_Spectrograms_

[2016-02-16 17:45] craffel commented on #119
For fair comparison, it might be worth documenting which datasets each algorithm was optimized over in the docstrings (e.g., if I want to compare beat detection results with a hypothetical new fancy beat tracker to those produced by librosa on SMC, it's worth noting that the librosa beat tracker was hyperparameter optimized over SMC).

[2016-02-17 04:08] bmcfee opened #307 "CQT and resampling normalization: bug or feature?"
Tagging @ejhumphrey @ebattenberg @dpwe

I've mentioned this in a few threads ( #165 #302 ), but wanted to get a focused discussion on this point ahead of 0.4.2.

The CQT method assumes that downsampling the signal and keeping the filter-bank fixed at one octave is a good approximation of applying the full filter-bank to the original signal.  This assumption only holds if the energy of the downsamp

[2016-02-17 05:04] ejhumphrey commented on #307
I'd think any kind of "banding" is a bug, as you'd want an identical output representation (within some numerical tolerance) whether it was achieved with a clever octave decomposition or the inefficient full-matrix transform.

FWIW, I _think_ I have memories of getting my own full and octave-decomp CQT implementations (using sox) to be approximately equal, but that would require some fact checking

[2016-02-17 15:03] bmcfee commented on #303
Note: I bumped this up to the 0.4.3 milestone (or 0.5.0, whichever comes first).

[2016-02-17 17:19] bmcfee commented on #307
I did a bit more digging into this, and I think some amount of banding artifacts becomes inevitable at the low octaves, due to compounded sampling error.  I've made a notebook demonstrating this [here](https://gist.github.com/8e0ca487d4e9a9da662d), running on the #308 branch, and using different filter-bank normalizations (1, 2, or None).  You can see in the bottom 3 plots that 2 and None both int

[2016-02-17 19:14] bmcfee commented on #305
FWIW, I took a stab at implementing time reassignment [here](https://gist.github.com/bmcfee/a16c1a15b4f58baa3caf).

[2016-02-17 21:45] ebattenberg commented on #307
I'm all for fixing banding.  You said that notebook was created using #308?  So the "fixed" cqt plot is shown in the notebook with `norm=1`?

[2016-02-17 21:59] bmcfee commented on #307
Yes: in each group of plots (spectrogram and difference peaks) the first is norm=1, second is norm=2, and third is norm=None.

For comparison purposes, here's the [same notebook](https://gist.github.com/bmcfee/b148cfa309025ef187d7) run on current master without the resample-scaling fixes.

[2016-02-17 22:31] bmcfee commented on #307
and just for fun, here's [one more run](https://gist.github.com/bmcfee/262557743098935c6ba8) forcing `sinc_best` at all resample points to see how much the downsampling accuracy is hurting us. (Not much.)

[2016-02-18 13:02] bmcfee commented on #307
I played around with this a bit more, and it seems like with the scaling fix in place, you can knock out the remaining banding artifacts at the top end by increasing `filter_scale`, that is, trading off temporal resolution for frequency resolution.  This isn't terribly satisfying or surprising, but i think it makes sense.

Does anyone else have any thoughts on this?  If not, please say so and I'll

[2016-02-18 15:26] dpwe commented on #307
Sounds right.  So the remaining banding artifacts were coming from aliasing
at the down sampled nyquist; shifting the passbands in each octave further
away from the nyquist reduced them?

  DAn.

On Thu, Feb 18, 2016 at 5:02 AM, Brian McFee <notifications@github.com>
wrote:

[2016-02-18 15:50] bmcfee commented on #307
Yeah, I think so.  It's a little tricky to see the way that I was measuring discontinuities in the notebooks above, since they discard sign and just look at absolute difference (in log-power space).

If you keep sign and re-run the code thusly:
[code]
you get this figure (0.4.1)
![image](https://cloud.githubusercontent.com/assets/1190540/13148635/2b8d072e-d62c-11e5-8365-4e39628e2bc1.png)

and this

[2016-02-19 14:54] bmcfee commented on #307
Ok, I think we're done on this one.

To simplify everything, I did a sweep of tests on white noise in [this notebook](https://gist.github.com/0446b05ba339e601fba6).  Note that these tests only include `norm=1`, and cqspectra are plotted horizontally to make it easier to visualize the octave gaps.

The tests use an over-sampled frequency basis (5 bins per semitone) and vary the filter scale.  For s

[2016-02-20 19:29] #307 closed

[2016-02-20 20:28] #289 closed

[2016-02-27 14:29] VladMironov commented on #183
Since I have this error again (now on EC2 Ubuntu) and this post is on Google's top, here's solution for missing mp3 library:
`sudo apt-get install libav-tools`

[2016-03-02 20:22] carlthome commented on #202
:+1:

[2016-03-04 08:38] bmcfee opened #311 "Non-local means"
There are a wide variety of methods that rely on the idea of non-local means for smoothing.  We should add this in librosa, with the following requirements:

- arbitrary axis target
- arbitrary metric for proximity detection (in the sense of scipy.spatial)
- arbitrary aggregation function
- optional pre-computed self-similarity matrix

[2016-03-07 14:41] bmcfee opened #312 "Sparsify recurrence_matrix and friends"
The functions in the `segment` module use dense (ndarray) representations of recurrence matrices.  This obviously doesn't scale for high sample rates and/or long tracks.

We should transition these toward inherently sparse implementations, with optional dense conversion.

[2016-03-07 14:47] stefan-balke commented on #312
What do you have in mind?

With scipy.sparse?

Conversion via .todense()?

[2016-03-07 15:01] bmcfee commented on #312
Yeah, exactly.

The underlying implementation would have to change substantially, since it's currently based on sorting the distance matrix.

Since we already have sklearn as a dependency (for agglomerative clustering and decomposition methods), it probably makes sense to just punt down to [NearestNeighbors](http://scikit-learn.org/stable/modules/generated/sklearn.neighbors.NearestNeighbors.html)

[2016-03-07 15:16] bmcfee commented on #312
... the other tricky part is preserving diagonal suppression.  I'm actually not sure how to do this without changing the semantics.

The current implementation does the following: for each `i`, find `k` nearest neighbors `j` such that `|i-j| >= w`.

Two ways we could make this work with sklearn:

- find `k+2w-1` neighbors, then prune out any within `w` of `i`, and take the `k` smallest remaining.

[2016-03-07 16:49] bmcfee commented on #312
Upon further thought, option 2 above won't work because it breaks metric properties (and therefore, efficient search data structures), so we're stuck with option 1.

Using `mode='distance'` in `kneighbors_graph` should make it relatively easy to prune out the extraneous links, since the distance is readily available.

[2016-03-07 21:30] bmcfee commented on #311
This one should wait until after #313 is merged.

[2016-03-17 10:26] cailiang9 opened #314 "librosa may use plotly for just notebook instead of matplotlib (too big)."
Or just make matplotlib optional when installing with pip. This would improve adoption of the lib.

[2016-03-17 14:01] bmcfee commented on #314
Thanks for your comments.  It's an interesting suggestion, but I don't like the idea of switching to plotly -- we shouldn't require a remote (and proprietary) API in an open source project.

As for dropping the mpl dependency: this has been considered before (see #281 ).  There are some reasonable arguments to be made for not requiring plotting routines in an audio library.  However, I think the f

[2016-03-20 18:28] stefan-balke commented on #202
hey @bmcfee,

I started to play around with anaconda and the packaging.
Here is a first rough starter for libsamplerate.
The plan is to use this to offer the binaries for all platforms at binstar.

https://github.com/stefan-balke/conda-libsamplerate

I still had some compilation issues there so I forked the repo to make a single change.
Now it seems to build...

[2016-03-20 18:39] stefan-balke commented on #202
BTW: Can we solve the issue with scikits.samplerate?

I filed an issue here such that the pypi version gets updated.
https://github.com/cournape/samplerate

[2016-03-20 18:47] bmcfee commented on #202
That issue is already fixed in the fork; it just needs to be merged into the main distribution.

[2016-03-20 18:52] stefan-balke commented on #202
Let's see if David is moving, otherwise we could also file a new version on pypi, couldn't we?

[2016-03-21 16:18] stefan-balke commented on #202
So Erik accepted my **MAJOR** :) PR
Conda should build it now with this recipe.

@bmcfee should we start a channel on binstar?
I think it needs to be an organization and then you can upload packages to it.

[2016-03-21 16:33] bmcfee commented on #202
Yeah, that makes sense.  Maybe we should punt this til after #240, by which i mean, finally do #240?  That sounds like a fine post-ismir-deadline project to me.

[2016-03-21 16:44] stefan-balke commented on #202
Yeah, sounds good.

Any opinions on what packages should be be covered by the channel?
* librosa
* libsamplerate might be the most important since it made the most trouble so far

What else?

[2016-03-21 16:47] bmcfee commented on #202
* scikits.samplerate
* libsndfile and/or libav/ffmpeg

[2016-03-21 16:54] stefan-balke commented on #202
Seen that?
https://github.com/bastibe/libsndfile-binaries

It's also here: https://github.com/erikd/libsndfile

I can try to get the builds running and write a conda recipe.

Any opinion about those recipes? Should they be as basic as possible?

And, where should they live?
https://github.com/conda/conda-recipes ?

[2016-03-21 17:00] stefan-balke commented on #202
Looked up other libs - they usually have a repo for all the needed recipes.
Clone that and then build the binaries on your machine and then upload it to
binstar (anaconda cloud).

[2016-03-21 18:21] bmcfee commented on #202
yup, sounds good.

[2016-03-25 11:23] stefan-balke commented on #298
I met with @craffel in Shanghai and started to work on this.

Here is the working branch:

https://github.com/stefan-balke/librosa/tree/feature-dtw

[2016-03-26 18:10] stefan-balke commented on #298
Any suggestions for unit-tests?

Until now, I have a really small toy example to test basic dynamic programming functionality.

For subsequence DTW, I would create something like this:
[code]

The minimum of the matching-function is known and would serve as ground-truth.

Suggestions are welcome.

P.S.: @craffel still missing some features but when we have a "complete" dtw, I'll provide some bench

[2016-03-26 18:13] stefan-balke commented on #298
@bmcfee time-stretching is a global thing at the moment, or?

Would be cool to hand-over a warping path to the time-stretcher and warp the audio though...

Jonathan did a nice review article recently about Time-Scale Modification:

https://www.semanticscholar.org/paper/A-Review-of-Time-Scale-Modification-of-Music-Driedger-Müller/0ac0fed7476412c7d85073e1cc2dd0923a1ce90f

[2016-03-27 00:34] craffel commented on #298
A simple toy example where you can compute the best path, for different parameter settings, by hand beforehand and hard-code it in seems smart to me.

Yes, another option would be to synthesize a cycle of a sine wave and then synthesize a 1/2 cycle at some random phase, and then try to recover that phase + a linear path.

Sweet.

[2016-03-28 13:32] bmcfee commented on #298
Currently, yes.  My original re-implementation of phase vocoding was for the dynamic case though, and used to power [this hack](http://functiontelechy.tumblr.com/post/57976729805/mhd-toronto-and-frankenmasher-2000).  In principle, it shouldn't be hard to extend the api to support this directly, though I had trouble coming up with a clean interface for it.

If you want to take a crack at it though,

[2016-03-28 13:37] craffel commented on #298
That doesn't sound any simpler to me, but either way seems fine.

[2016-03-28 14:41] bmcfee commented on #298
It's one fewer function (`linspace` instead of `sin(tau * linspace)`), and eliminates any weird off-by-one boundary effects.

[2016-03-29 11:26] stefan-balke commented on #298
Alright, will do so.

[2016-03-29 19:40] bmcfee commented on #202
@stefan-balke have you seen [conda-forge](https://conda-forge.github.io/)?

[2016-03-30 06:20] stefan-balke commented on #202
@bmcfee nope, but that looks totally awesome.

I will first try with libsamplerate. Keep you in the loop.

[2016-03-30 08:33] stefan-balke commented on #202
Started it here:
https://github.com/conda-forge/staged-recipes/pull/229

[2016-03-30 10:46] stefan-balke commented on #202
This one is next:

https://github.com/conda-forge/staged-recipes/pull/231

People start to use python more and more in our lab. Most of them in a Windows-Anaconda environment.

[2016-03-30 12:22] stefan-balke commented on #202
This certainly is hell :)

 * libsamplerate: https://github.com/conda-forge/staged-recipes/pull/229
  - windows build has issues...
* libsndfile: https://github.com/conda-forge/staged-recipes/pull/231
  - lots of dependencies missing:
   - Autogen https://github.com/conda-forge/staged-recipes/pull/232
   - Guile https://github.com/conda-forge/staged-recipes/pull/232
   - libffi
   - libunistring

[2016-03-30 13:12] bmcfee commented on #202
Yikes!  I didn't realize it would be such a pain to get things packaged (and working on windows).

A few thoughts here:

- We don't need libsndfile per se, just one of the codec backends supported by audioread.  ffmpeg would also work.. do you think that would be easier?  What about gstreamer?
- libsamplerate: it's been on my to-do to reimplement the sinc interpolation resampler, either as a stand

[2016-03-31 02:46] kylemcdonald opened #315 "specshow y_axis='log' truncates x axis"
When using `specshow` with `y_axis='log'`, the last bin on the x axis is chopped in half. This isn't a problem for spectra, which are generally pretty long on the x axis and a half-truncation doesn't amount to much, but I noticed it when working with the components returned by `decompose`.

[code]

![wvqispvnr1uvaaaaabjru5erkjggg](https://cloud.githubusercontent.com/assets/157106/14163982/12c39dc6